#articleDetail{
  color: #333;
  background-color: #f4f4f4;
  .am-list-content,.am-list-line,.am-list-item{
    padding: 0;
  }
  .am-list-item .am-list-line .am-list-content{
    white-space: inherit !important;
  }
  .p15{
    padding: 10px 15px;
    background-color: #fff;
  }
  .inner{
    padding-bottom: 50px;
    iframe{
      margin: 10px 0;
      width: 100%;
    }
  }
  .title{
    font-size: 18px;
    line-height: 22px;
    word-break: break-all;
  }
  .at{
    font-size: 12px;
    margin: 10px 0;
    .author{
      display: inline-block;
      padding-right: 10px;
    }
    .createTime{
      display: inline-block;
      color: #999;
    }
  }
  .content{
    font-size: 15px;
    p{
      margin: 0;
      line-height: 1.5;
    }
    img{
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
  .ql-image{
    max-width: 100%;
    max-height: 100%;
  }
  .content_bottom{
    .like{
      width: 120px;
      height: 40px;
      line-height: 40px;
      margin: 20px auto 10px;
      border: 1px solid #999;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-align: center;
      .noLike{
        background: url("../images/praise.png") no-repeat left 10px;
        background-size: 16px;
        display: inline-block;
        padding-left: 25px;

      }
      .likeActive{
        background: url("../images/praise_active.png") no-repeat left 10px;
        background-size: 16px;
        display: inline-block;
        padding-left: 25px;
      }
      img{
        width: 16px;
        height: 16px;
        margin-left: 20px;
        margin-top: 6px;
      }
      span{
        vertical-align: top;
        padding-left: 10px;
      }
    }
  }
  .commentList{
    .am-list-footer{
      background: #f4f4f4;
    }
    .list-view-section-body{
      padding: 0 15px;
      border-top: 1px #e5e5e5 solid;
      &>div:last-child .line_public::after{
          display: none;
      }
    }
    .listCont{
      .am-list-content{
        color: #666 !important;
        font-size: 13px;
        line-height: 17px;
      }
      .am-list-brief{
        font-size: 15px;
        word-break: break-all;
        overflow: visible;
        text-overflow: unset;
        white-space: normal;
        color: #333;
        line-height: 20px;
      }
      .am-list-item {
        -webkit-align-items: inherit;
        -moz-align-items: inherit;
        -ms-align-items: inherit;
        -o-align-items: inherit;
        -khtml-align-items: inherit;
        align-items: inherit;
        padding: 15px 0;
        img {
          width: 28px;
          height: 28px;
          vertical-align: top;
          border-radius: 50%;
        }
        .am-list-line-multiple{
          padding: 0;
        }
      }
    }

  }
  .commit{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    .am-list-item{
      padding: 10px 15px;
      min-height: auto;
    }
    .am-textarea-item{
      background-color: #fff;
    }
    .am-textarea-control{
      background-color: #f3f3f3;
      border-radius: 4px;
      padding-top: 8px;
      padding-bottom: 8px;
      textarea{
        font-size: 13px;
        line-height: 17px;
        max-height: 51px;
        overflow-y: auto;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
        color: #333;
      }
    }
  }

  .commit{
    background: white;

    #textAndReport .am-textarea-item{
      width:calc(~"100% - 80px");
      display: inline-block;
      box-sizing: border-box;
    }
    #textNo .am-textarea-item{
      width:calc(~"100% - 40px");
      display: inline-block;
      box-sizing: border-box;
    }
    .pent{
      display: inline-block;
      img{
        width: 25px;
        vertical-align: middle;
      }
    }
    .report{
      display: inline-block;
      img{
        margin-left:5px;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        transform: translateY(2px);
      }
    }
  }
  .positionBox{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 10000;
    width: 300px;
    //height: 400px;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .cancelReport{
      position: absolute;
      top: 0;
      right: 0;
    }
    //.am-radio-input{
    //  padding-left: 5px;
    //}
  }
  .postionBox_mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: black;
    z-index: 9999;
    opacity: 0.5;
  }
}