#articleDetail {
  color: #333;
  background-color: #fff;
}
#articleDetail .inner {
  padding: 10px 15px;
}
#articleDetail .inner iframe {
  margin: 10px 0;
  width: 100%;
}
#articleDetail .title {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}
#articleDetail .at {
  font-size: 12px;
  margin: 10px 0;
}
#articleDetail .at .author {
  display: inline-block;
  padding-right: 10px;
}
#articleDetail .at .createTime {
  display: inline-block;
  color: #999;
}
#articleDetail .content {
  font-size: 15px;
}
#articleDetail .content p {
  margin: 0;
  line-height: 1.5;
}
#articleDetail .ql-image {
  max-width: 100%;
  max-height: 100%;
}
#articleDetail .content_bottom .like {
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  border: 1px solid #999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#articleDetail .content_bottom .like img {
  width: 27px;
  height: 27px;
  margin-left: 20px;
  margin-top: 6px;
}
