#articleList {
  position: relative;
}
#articleList .am-pull-to-refresh-content-wrapper {
  height: 100vh;
  overflow-y: auto;
}
#articleList .am-tabs-pane-wrap {
  overflow: hidden;
}
#articleList .am-list-view-scrollview-content {
  width: 100%;
}
#articleList .am-tabs-default-bar-tab {
  font-size: 17px;
  color: #676C6F;
}
#articleList .am-tabs-default-bar-tab-active {
  color: #4285F4;
}
#articleList .leftBox {
  width: 60%;
  margin-right: 10%;
  display: inline-block;
}
#articleList .item {
  padding: 15px;
}
#articleList .title {
  font-size: 15px;
  color: #333;
  line-height: 20px;
  margin-bottom: 10px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#articleList .title.minHeight {
  min-height: 47px;
}
#articleList .bottom {
  font-size: 12px;
  color: #999;
}
#articleList .bottom > div {
  margin-right: 10px;
}
#articleList .bottom .read {
  display: inline-block;
}
#articleList .bottom .like {
  display: inline-block;
}
#articleList .bottom .time {
  display: inline-block;
}
#articleList .rightBox {
  width: 30%;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  background-size: 100%;
  background-position-y: center;
}
#articleList .rightBox img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
#articleList .images img {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#articleList .videoBox {
  position: relative;
}
#articleList .videoBox video {
  padding-left: 25px;
}
#articleList .videoBox .videoMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
}
#articleList .videoBox .playImg {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#articleList .artEmptyDiv {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#articleList .artEmptyDiv .emptyIcon {
  background: url("../images/icon_empty.png") no-repeat;
  width: 194px;
  height: 105px;
  background-size: 100%;
  text-align: center;
  margin: 0 auto;
}
#articleList .artEmptyDiv .text {
  color: #999;
  font-size: 14px;
  padding: 33px 0 50px;
  line-height: 22px;
}
#articleList .artEmptyDiv .btn {
  color: #4285f4;
  border: 1px #4285f4 solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}
#articleList .video_box {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}
#articleList .video_box .gradient_bgT {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  /* Firefox 3.6 - 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  /* 标准的语法 */
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
}
#articleList .video_box .gradient_bgB {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  /* Firefox 3.6 - 15 */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  /* 标准的语法 */
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 9px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-size: 12px;
}
#articleList .video_box .video_row {
  width: 172px;
  height: 215px;
  display: inline-block;
  box-sizing: border-box;
  margin: 15px 0 15px 5px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
#articleList .video_box .video_row .video_firstImage {
  width: 100%;
  height: 100%;
}
#articleList .video_box .video_row .like {
  position: absolute;
  bottom: 9px;
  right: 8px;
  color: white;
  letter-spacing: 1px;
}
#articleList .video_box .video_row .read {
  position: absolute;
  bottom: 9px;
  left: 9px;
  color: white;
  background: url("../images/icon_play.png") no-repeat left center;
  background-size: 8px;
  padding-left: 13px;
}
#articleList .video_box .video_row .read span {
  transform: rotate(90deg);
  display: inline-block;
}
#articleList .video_box .video_row .video_content {
  color: white;
  font-size: 15px;
  line-height: 20px;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#articleList .video_box .video_row:nth-last-child(1) {
  margin-right: 5px;
}
#articleList .video_box::-webkit-scrollbar {
  display: none;
}
#articleList .toTop {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
  z-index: 999;
  -webkit-transition: 2s;
  transition: 2s;
}
#articleList .toTop img {
  width: 100%;
  height: 100%;
}
