#articleDetail{
  .at{
    .author{
      display: inline-block;
      padding-right: 10px;
    }
    .createTime{
      display: inline-block;
    }
  }
  .content{
    margin: 20px;
  }
  .ql-image{
    max-width: 100%;
    max-height: 100%;
  }
}