#themeTaskDetail{
  .head_pic{
    img{
      width: 50px;
      height: 50px;
    }
  }
  .input_box{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    .image_input_box{
      display: inline-block;
      img{
        width: 50px;
        height: 50px;
      }
    }
    .textarea_commit{
      width: 80%;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      border: 1px solid #ccc;
    }
  }

  .video_tag{
    position: relative;
    .video_tag_play{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 20px;
      height: 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: white;

    }
  }

  .detail_bottom{
    div{
      width: 50%;
      display: inline-block;
      text-align: center;
    }
  }

}