#wrongQuestionListDetail {
  /*解决listview高度无法撑开的关键*/
}
#wrongQuestionListDetail .am-pull-to-refresh-content-wrapper {
  min-height: 100vh;
}
#wrongQuestionListDetail .circleList {
  position: relative;
  width: calc(100% - 40px);
  padding-left: 15px;
  box-sizing: border-box;
}
#wrongQuestionListDetail .circleList .tags {
  display: inline-block;
  position: absolute;
  right: 14px;
  top: -6px;
}
#wrongQuestionListDetail .circleList .tag-ThemeTask {
  background: url("../images/tag-ThemeTask.png") no-repeat;
  background-size: 100% 100%;
  width: 75px;
  height: 21px;
  display: inline-block;
}
#wrongQuestionListDetail .circleList .tag-WrongTopic {
  width: 75px;
  height: 21px;
  display: inline-block;
}
#wrongQuestionListDetail .circleList .tag-WrongTopic-red {
  background: url("../images/tag-WrongTopic-red.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .circleList .tag-WrongTopic-orange {
  background: url("../images/tag-WrongTopic-orange.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .circleList .tag-WrongTopic-green {
  background: url("../images/tag-WrongTopic-green.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .circleList .tag-WrongTopic-yellow {
  background: url("../images/tag-WrongTopic-yellow.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .circleList .list_bottom {
  position: relative;
  width: 120px;
}
#wrongQuestionListDetail .list_item {
  margin-top: 0;
  border-top: 10px solid #f4f4f4;
  padding: 15px 15px 0 0;
}
#wrongQuestionListDetail .list_item:first-child {
  border-top: 0;
}
#wrongQuestionListDetail .list_item .list_head {
  height: 40px;
  margin-bottom: 13px;
}
#wrongQuestionListDetail .list_item .list_head .headPic {
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}
#wrongQuestionListDetail .list_item .list_head .headPic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
#wrongQuestionListDetail .list_item .list_head .userName {
  display: inline-block;
  color: #333;
  font-size: 15px;
  line-height: 1.6;
}
#wrongQuestionListDetail .list_item .list_head .createTime {
  display: inline-block;
  color: #999;
  font-size: 13px;
  line-height: 1.6;
}
#wrongQuestionListDetail .list_item .list_image {
  margin-top: 10px;
  width: 354px;
}
#wrongQuestionListDetail .list_item .list_image img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
}
#wrongQuestionListDetail .list_item .list_image .video_tag {
  position: relative;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 2px;
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  display: inline-block;
}
#wrongQuestionListDetail .list_item .list_image .video_tag video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrongQuestionListDetail .list_item .list_image .video_tag .video_tag_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../images/play-btn.png") no-repeat;
  background-size: 100% 100%;
}
@media screen and (min-width: 700px) {
  #wrongQuestionListDetail .list_item .list_image,
  #wrongQuestionListDetail .list_item .image_detail {
    width: 354px;
  }
  #wrongQuestionListDetail .list_item .list_image img,
  #wrongQuestionListDetail .list_item .image_detail img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
  }
  #wrongQuestionListDetail .list_item .list_image .video_tag,
  #wrongQuestionListDetail .list_item .image_detail .video_tag {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
    vertical-align: middle;
  }
  #wrongQuestionListDetail .list_item .date + .circleList .list_image {
    width: 354px;
  }
}
@media (max-width: 360px) and (min-width: 340px) {
  #wrongQuestionListDetail .list_item .list_image,
  #wrongQuestionListDetail .list_item .image_detail {
    width: auto;
    margin-right: -15px;
  }
  #wrongQuestionListDetail .list_item .list_image img,
  #wrongQuestionListDetail .list_item .image_detail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
  }
  #wrongQuestionListDetail .list_item .list_image .video_tag,
  #wrongQuestionListDetail .list_item .image_detail .video_tag {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
    vertical-align: middle;
  }
}
@media (max-width: 339px) {
  #wrongQuestionListDetail .list_item .list_image,
  #wrongQuestionListDetail .list_item .image_detail {
    width: auto;
    margin-right: -15px;
  }
  #wrongQuestionListDetail .list_item .list_image img,
  #wrongQuestionListDetail .list_item .image_detail img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
  }
  #wrongQuestionListDetail .list_item .list_image .video_tag,
  #wrongQuestionListDetail .list_item .image_detail .video_tag {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
    vertical-align: middle;
  }
}
#wrongQuestionListDetail .list_item .list_bottom_item {
  position: absolute;
  width: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 14px;
  color: #888;
  padding: 5px 0px;
  height: 25px;
  line-height: 1.6;
  box-sizing: border-box;
  right: 0;
}
#wrongQuestionListDetail .list_item .list_bottom_item:first-child {
  left: 0;
  right: auto;
}
#wrongQuestionListDetail .list_item .list_bottom_item i {
  width: 15px;
  height: 15px;
  display: inline-block;
}
#wrongQuestionListDetail .list_item .list_bottom_item .i-share {
  background: url("../images/share.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .list_item .list_bottom_item .i-comments {
  background: url("../images/comments.png") no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 14px;
}
#wrongQuestionListDetail .list_item .list_bottom_item .i-praise {
  background: url("../images/praise.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .list_item .list_bottom_item .i-praise.i-praise-active {
  background: url("../images/praiseActive.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .list_item .list_bottom_item .i-delete {
  background: url("../images/icon_delete_power.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .list_item .list_bottom_item span {
  position: relative;
  left: 5px;
  top: -2px;
}
#wrongQuestionListDetail .list_item:first-child {
  margin-top: 15px;
}
#wrongQuestionListDetail .list_item:last-child .circleList {
  border-bottom: none;
}
#wrongQuestionListDetail .list_content {
  color: #333;
  font-size: 16px;
  line-height: 20px;
  word-wrap: break-word;
}
#wrongQuestionListDetail .time {
  font-size: 13px;
  color: #666;
}
#wrongQuestionListDetail .time > div {
  padding-top: 8px;
}
#wrongQuestionListDetail .date {
  padding-left: 15px;
  width: 40px;
  min-width: 40px;
  box-sizing: border-box;
}
#wrongQuestionListDetail .date .day {
  color: #333;
  font-size: 20px;
}
#wrongQuestionListDetail .date .mouth {
  font-size: 12px;
  color: #666;
  text-align: center;
}
#wrongQuestionListDetail .i-praise-active {
  background: url("../images/praiseActive.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .i-praise-active + span {
  color: #e5352b;
}
#wrongQuestionListDetail .filter-content {
  width: 90%;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  z-index: 11;
  transition: 0.5s;
  color: #333;
}
#wrongQuestionListDetail .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 10;
  opacity: 0.4;
}
#wrongQuestionListDetail .filter-header {
  font-size: 15px;
  padding: 0 15px;
  margin: 25px 0px 5px 0;
}
#wrongQuestionListDetail .filterCont {
  padding: 0 15px;
  flex-direction: row;
  flex-wrap: wrap;
}
#wrongQuestionListDetail .filter-info {
  height: calc(100% - 45px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 15px;
  box-sizing: border-box;
}
#wrongQuestionListDetail .filterFooter {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  z-index: 0;
}
#wrongQuestionListDetail .filterFooter button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.04);
  color: #666;
  background: #fff;
}
#wrongQuestionListDetail .filterFooter button.blueBtn {
  background: #F46A55;
  color: #fff;
  box-shadow: none;
}
#wrongQuestionListDetail .course-init,
#wrongQuestionListDetail .time-init,
#wrongQuestionListDetail .mastery-init,
#wrongQuestionListDetail .tag-init {
  border: 1px solid #AEAEAE;
  padding: 0 15px;
  margin-right: 10px;
  border-radius: 2px;
  color: #666;
  margin-top: 10px;
  line-height: 28px;
  box-sizing: border-box;
}
#wrongQuestionListDetail .course-active,
#wrongQuestionListDetail .time-active,
#wrongQuestionListDetail .mastery-active,
#wrongQuestionListDetail .tag-active {
  border: 1px solid #F46A55;
  padding: 0 15px;
  margin-right: 10px;
  margin-top: 10px;
  background: #F46A55;
  border-radius: 2px;
  color: #fff;
  line-height: 28px;
  box-sizing: border-box;
}
#wrongQuestionListDetail .grayBg .course-init {
  background-color: #f5f5f5;
  border: 0;
  line-height: 30px;
}
#wrongQuestionListDetail .am-list-header {
  background: #fff;
  color: #666;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  position: relative;
}
#wrongQuestionListDetail .am-list-header button {
  padding: 0;
  border: none;
  background: transparent;
}
#wrongQuestionListDetail .am-list-header button i {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  top: 3px;
}
#wrongQuestionListDetail .am-list-header button span {
  position: relative;
  top: -3px;
  margin-left: 2px;
}
#wrongQuestionListDetail .am-list-header button .icon-print {
  background: url("../images/icon-print.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .am-list-header button .icon-screening {
  background: url("../images/icon-screening.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .am-list-header button .icon-statistical {
  background: url("../images/icon-statistical.png") no-repeat;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .am-list-header .filter-btn {
  position: absolute;
  right: 15px;
}
#wrongQuestionListDetail .am-list-header .export-btn {
  margin-left: 20px;
}
#wrongQuestionListDetail .export-header {
  height: 25px;
  color: #333;
  font-size: 16px;
  line-height: 25px;
}
#wrongQuestionListDetail .export-header .Btn-bor-blue {
  background: #fff !important;
  color: #F46A55;
  border: 1px #F46A55 solid !important;
  padding: 5px 13px !important;
  border-radius: 4px;
  font-size: 15px;
  line-height: 14px;
  box-sizing: border-box;
}
#wrongQuestionListDetail .export-header .Btn-right {
  position: absolute;
  right: 15px;
  top: 10px;
}
#wrongQuestionListDetail .export-header input[type="checkbox"] {
  -webkit-appearance: none;
  /*清除复选框默认样式*/
  background: #fff url(../images/input-blue1.png);
  /*复选框的背景图，就是上图*/
  height: 18px;
  /*高度*/
  vertical-align: middle;
  width: 18px;
  background-size: 100% 100%;
  position: relative;
  top: -2px;
}
#wrongQuestionListDetail .export-header input[type="checkbox"]:checked {
  background: #fff url('../images/checkActiveRed.png') no-repeat;
  height: 18px;
  /*高度*/
  vertical-align: middle;
  width: 18px;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .export-header span {
  margin-left: 8px;
}
#wrongQuestionListDetail .custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  background: white;
  border-radius: 4px;
  z-index: 99;
}
#wrongQuestionListDetail .custom .custom-header {
  color: #333;
  font-size: 17px;
  margin: 16px 0 16px 0;
  text-align: center;
}
#wrongQuestionListDetail .custom .startTime,
#wrongQuestionListDetail .custom .endTime {
  text-align: center;
  font-size: 14px;
  color: #666;
}
#wrongQuestionListDetail .custom .startTime span,
#wrongQuestionListDetail .custom .endTime span {
  color: #333;
}
#wrongQuestionListDetail .custom .startTime span + div,
#wrongQuestionListDetail .custom .endTime span + div {
  display: inline-block;
}
#wrongQuestionListDetail .custom .startTime .am-list-item,
#wrongQuestionListDetail .custom .endTime .am-list-item {
  min-height: 34px !important;
}
#wrongQuestionListDetail .custom .startTime .am-list-item .am-list-line,
#wrongQuestionListDetail .custom .endTime .am-list-item .am-list-line {
  padding-right: 0;
}
#wrongQuestionListDetail .custom .startTime .am-list-item .am-list-line .am-list-extra,
#wrongQuestionListDetail .custom .endTime .am-list-item .am-list-line .am-list-extra {
  -webkit-flex-basis: 85%;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
  color: #666;
  padding-top: 0;
  padding-bottom: 0;
}
#wrongQuestionListDetail .custom .startTime .am-list-item .am-list-line .am-list-arrow,
#wrongQuestionListDetail .custom .endTime .am-list-item .am-list-line .am-list-arrow {
  transform: rotate(90deg);
}
#wrongQuestionListDetail .custom .blueBtn {
  background: #F46A55;
  color: #fff;
  box-shadow: none;
  padding: 14px 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 20px;
  font-size: 17px;
}
#wrongQuestionListDetail .month-select {
  position: relative;
}
#wrongQuestionListDetail .month-select input[type="checkbox"] {
  -webkit-appearance: none;
  /*清除复选框默认样式*/
  background: #fff url(../images/input-blue1.png);
  /*复选框的背景图，就是上图*/
  height: 18px;
  /*高度*/
  vertical-align: middle;
  width: 18px;
  background-size: 100% 100%;
  position: absolute;
  top: 66px;
  left: 15px;
}
#wrongQuestionListDetail .month-select input[type="checkbox"]:checked {
  background: #fff url(../images/input-blue.png);
  height: 18px;
  /*高度*/
  vertical-align: middle;
  width: 18px;
  background-size: 100% 100%;
}
#wrongQuestionListDetail .clearBorderTop {
  border: 0!important;
  position: relative;
}
#wrongQuestionListDetail .clearBorderTop:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: auto;
  right: 15px;
  top: 0;
  left: 55px;
  width: calc(100% - 55px);
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
#wrongQuestionListDetail .customMask {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
}
#wrongQuestionListDetail .deadline-line {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 5px;
}
#wrongQuestionListDetail .deadline-line:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: auto;
  right: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
#wrongQuestionListDetail .deadline-line + .clearBorderTop {
  border-top-width: 10px;
}
#wrongQuestionListDetail .list-tags {
  height: 19px;
  margin-top: -4px;
  margin-bottom: 6px;
}
#wrongQuestionListDetail .tag-course {
  padding: 3px 4px 2px;
  font-size: 11px;
  border-width: 1px;
  border-style: solid;
  float: left;
  margin-right: 4px;
  margin-top: 4px;
  line-height: 1;
}
#wrongQuestionListDetail .tag-course-blue {
  border-color: #4285F4;
  color: #4285F4;
}
#wrongQuestionListDetail .tag-course-blue-text {
  border-color: #58ACF4;
  color: #58ACF4;
}
#wrongQuestionListDetail .tag-course-green {
  border-color: #47CB5E;
  color: #47CB5E;
}
#wrongQuestionListDetail .tag-course-orange {
  border-color: #F4BD00;
  color: #F4BD00;
}
#wrongQuestionListDetail .tag-course-red {
  border-color: #FF3B30;
  color: #FF3B30;
}
#wrongQuestionListDetail .myTag {
  color: #666;
  font-size: 16px;
  margin-left: -6.5px;
}
#wrongQuestionListDetail .bottomIcon {
  margin-bottom: 5px;
  justify-content: space-between;
}
#wrongQuestionListDetail .myPhoto {
  align-items: center;
}
#wrongQuestionListDetail .myPhoto img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#wrongQuestionListDetail .myPhoto span {
  padding-left: 10px;
  color: #666;
  font-size: 13px;
}
#wrongQuestionListDetail .emptyCont {
  width: 100%;
  position: absolute;
  top: 35%;
  height: calc(100% - 45px);
  left: 0;
  text-align: center;
}
#wrongQuestionListDetail .emptyCont div {
  color: #999;
  font-size: 12px;
  padding-top: 20px;
}
.close-btn {
  position: absolute;
  right: 85px;
  top: 10px;
}
