#authorityManagement {
  overflow-x: hidden;
}
#authorityManagement .am-list-body {
  background: transparent;
}
#authorityManagement .addBunton {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}
#authorityManagement .addBunton img {
  width: 100%;
}
#authorityManagement .updateModel {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 999;
  height: 350px;
}
#authorityManagement .am-list-item10 {
  padding: 10px 15px;
}
#authorityManagement .am-card {
  margin-bottom: 10px;
}
