#addUploadVideo {
  width: 100%;
  height: 100% !important;
  background: #fff;
  /*进度条 box*/
  /*进度条*/
  /*进度文本*/
}
#addUploadVideo .videoContent {
  position: relative;
  border: 1px solid #ccc;
  width: 374px;
  margin: 20px auto 20px auto;
  text-align: center;
  transition: 2s;
  background: #fff;
  padding: 0;
  min-height: 150px;
  border-top: 0px solid transparent;
}
#addUploadVideo .articleEditorCont {
  height: calc(100% - 54px);
  overflow-y: auto;
  overflow-x: hidden;
}
#addUploadVideo .submitBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#addUploadVideo .submitBtn .warning {
  flex: 1;
}
#addUploadVideo .header {
  z-index: 222;
  height: 45px;
  width: 100%;
  line-height: 45px;
  background: #fff;
  border-bottom: 1px solid #dfe0e3;
}
#addUploadVideo .header .addVideo {
  display: inline-block;
  width: 85%;
  text-align: center;
  font-size: 16px;
  color: #4380eb;
}
#addUploadVideo .parentDiv {
  position: relative;
}
#addUploadVideo .calm40 {
  overflow: hidden;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
#addUploadVideo .calm20 {
  overflow: hidden;
  opacity: 0;
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#addUploadVideo .progress {
  margin: 0;
  box-sizing: border-box;
}
#addUploadVideo #progress {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  height: 50px;
}
#addUploadVideo #progress .progress-bar {
  height: 6px;
}
#addUploadVideo #progress .progress-bar {
  background-color: #4380eb;
}
#addUploadVideo .progressText {
  display: none;
  font-size: 14px;
  color: #4380eb;
}
#addUploadVideo .progressText {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
#addUploadVideo .preIcon {
  color: #EDB74A;
  padding-right: 5px;
}
#addUploadVideo .addList {
  height: calc(100% - 75px);
  overflow-y: auto;
  background: #f6f6f6;
}
#addUploadVideo .tagBack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
#addUploadVideo .del_tag {
  width: 13px;
  height: 13px;
  background: url("../imgs/icon_close.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 50%;
  z-index: 9 !important;
  cursor: pointer;
  font-size: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#addUploadVideo .tagCont {
  background-color: #fff;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}
#addUploadVideo .tagInput {
  position: relative;
}
#addUploadVideo .tagInput .am-list-item {
  background-color: #f4f4f4;
}
#addUploadVideo .tagInput .am-list-item .am-input-control {
  background: #fff;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border-radius: 2px;
}
#addUploadVideo .tagInput .am-list-item .am-input-control input {
  font-size: 15px;
  color: #333;
}
#addUploadVideo .classTags {
  padding-right: 15px;
  padding-top: 10px;
  height: calc(100% - 111px);
  overflow-y: auto;
  box-sizing: border-box;
}
#addUploadVideo .classTags .am-tag-normal::before,
#addUploadVideo .classTags .am-tag-active::before {
  display: none;
}
#addUploadVideo .classTags .am-tag {
  margin-left: 15px;
  margin-bottom: 10px;
  border: 1px #fff solid;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  padding: 0 10px;
}
#addUploadVideo .classTags .am-tag-normal {
  border-radius: 2px;
  margin-left: 15px;
  border: 1px #666 solid;
  color: #666;
}
#addUploadVideo .classTags .am-tag-text {
  font-size: 13px;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: 70px;
}
#addUploadVideo .classTags .am-tag-active {
  background-color: #f6f6f6;
  border: 1px #e5e5e5 solid;
  color: #333;
}
#addUploadVideo .spanTag {
  color: #333;
  background-color: #f6f6f6;
  border: 1px #e5e5e5 solid;
  padding: 0 35px 0 10px;
  font-size: 13px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 36px;
  line-height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  max-width: 110px;
  display: inline-block;
}
#addUploadVideo .tagBtn {
  background: url("../imgs/icon_uploadS.png") no-repeat;
  width: 36px;
  height: 36px;
  background-size: 100%;
  border: 0;
  font-size: 0;
}
#addUploadVideo .tagDiv {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 50px);
}
#addUploadVideo .sameBack {
  background-color: #fff;
  padding: 15px;
  font-size: 15px;
  color: #666;
}
#addUploadVideo .listCont {
  background-color: #fff;
  margin-top: 10px;
  position: relative;
}
#addUploadVideo .listCont:first-child {
  margin-top: 0;
}
#addUploadVideo .listCont .am-list-item .am-input-control input {
  width: 88%;
}
#addUploadVideo .listCont .icon_delete {
  background: url("../imgs/del_group.png") no-repeat;
  font-size: 0;
  width: 34px;
  height: 32px;
  background-size: 100%;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#addUploadVideo .listCont .am-list-item .am-input-label {
  color: #666 !important;
  font-size: 16px;
}
#addUploadVideo .listCont .am-list-item .am-input-label.am-input-label-5 {
  width: 70px;
  margin-right: 4px;
  text-align: right;
  padding-right: 15px;
}
#addUploadVideo .listCont .textTitle {
  width: 35px;
  margin-right: 15px;
  text-align: left;
  padding-right: 0px;
}
#addUploadVideo .listCont .textTitle .uploadSupport {
  font-size: 12px;
  color: #888;
}
#addUploadVideo .videoType {
  padding-bottom: 0;
}
#addUploadVideo .videoType .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio,
#addUploadVideo .videoType .am-list-item {
  height: 18px;
  min-height: 18px;
}
#addUploadVideo .videoType .am-list {
  width: calc(100% - 50px) !important;
}
#addUploadVideo .videoType .am-radio-item {
  display: inline-block;
  background: none;
  padding-left: 0;
  padding-bottom: 15px;
}
#addUploadVideo .videoType .am-list-content {
  font-size: 15px;
  color: #666 !important;
  padding-left: 24px;
  line-height: 18px;
  vertical-align: bottom;
  padding-top: 0;
  padding-bottom: 0;
}
#addUploadVideo .videoType .am-radio-inner {
  border: 1px #999999 solid;
  width: 18px;
  height: 18px;
  background-color: #fff;
  left: 0 !important;
  top: 0 !important;
}
#addUploadVideo .videoType .am-radio-checked .am-radio-inner {
  border: 1px #4285F4 solid;
  background-color: #4285f4;
}
#addUploadVideo .videoType .am-radio-checked .am-radio-inner::after {
  width: 5px;
  height: 11px;
  border-width: 0 1px 1px 0;
  top: 0;
  border-color: #fff;
}
#addUploadVideo .videoType .am-list-item:last-child .am-list-line {
  padding-right: 0;
}
#addUploadVideo .am-textarea-has-count {
  padding: 0;
}
#addUploadVideo .add_element {
  width: calc(100% - 50px);
  background-color: #f6f6f6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#addUploadVideo .am-textarea-control textarea {
  font-size: 13px;
  color: #333;
  height: 100px;
}
#addUploadVideo .am-textarea-control {
  padding: 0 5px;
  border: 1px #e5e5e5 solid;
}
#addUploadVideo .challenge {
  height: calc(100% - 111px);
  overflow-y: auto;
}
#addUploadVideo .challenge .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio {
  height: auto !important;
}
#addUploadVideo .challenge .am-list-item.checked {
  background-color: #F7FAFF;
}
#addUploadVideo .challenge .am-list-item.checked .am-radio-inner {
  display: none;
}
#addUploadVideo .challenge .text {
  color: #666;
  font-size: 13px;
  margin-top: 5px;
}
#addUploadVideo .challenge .am-list-content {
  border-bottom: 1px #eee solid !important;
  white-space: inherit;
}
#addUploadVideo .challenge .blueTxt {
  color: #4285F4;
  font-size: 15px;
  margin: 8px 0;
}
#addUploadVideo .challenge .add_element {
  width: 100%;
  margin-top: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#addUploadVideo .challenge .add_element .am-textarea-control {
  border: 0;
}
#addUploadVideo video {
  width: 100%;
  height: 100%;
}
#addUploadVideo .am-list-item:visited {
  background-color: #000;
}
#addUploadVideo .challengeTag {
  color: #333;
  background-color: #f6f6f6;
  border: 1px #e5e5e5 solid;
  padding: 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: calc(100% - 50px);
  font-size: 15px;
}
#addUploadVideo .challengeTag .tagTitle {
  font-size: 15px;
  margin-bottom: 10px;
  position: relative;
  padding-right: 30px;
  line-height: 30px;
  height: 30px;
}
#addUploadVideo .challengeTag .tagTitle .del_tag {
  right: 0;
}
#addUploadVideo .challengeTag .tagText {
  padding-bottom: 10px;
  text-indent: 15px;
  line-height: 20px;
  word-break: break-all;
}
#addUploadVideo .startTitle {
  margin-right: 5px;
  font-size: 17px;
  color: #333;
  padding: 10px 0;
  text-align: center;
}
#addUploadVideo .startTitle .preIcon {
  margin-left: 5px;
}
#addUploadVideo .bottom_nav {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  background: #f7f8fc;
  padding: 10px 0;
}
#addUploadVideo .preview_button {
  border: 1px solid #4380eb;
  background: transparent;
  color: #4380eb;
}
#addUploadVideo .submit_button {
  border: 1px solid #4380eb;
  background: #4380eb;
  color: #fff;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#addUploadVideo .button_btnLeft {
  margin-left: 0;
}
#addUploadVideo .button_btn {
  border-radius: 4px;
  padding: 8px 26px;
  margin-left: 25px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}
#addUploadVideo .editor_boxlist {
  -webkit-box-shadow: 0 0 6px rgba(63, 70, 82, 0.5);
  -moz-box-shadow: 0 0 6px rgba(63, 70, 82, 0.5);
  box-shadow: 0 0 6px rgba(63, 70, 82, 0.5);
}
#addUploadVideo .icon_pointer {
  cursor: pointer;
}
#addUploadVideo .calmTagDivNew {
  width: 380px !important;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  /* IE 9 */
  -moz-transform: translateX(-50%);
  /* Firefox */
  -webkit-transform: translateX(-50%);
  /* Safari 和 Chrome */
  -o-transform: translateX(-50%);
}
