#addUploadVideo .addList {
  height: calc(100% - 77px);
  overflow-y: auto;
}
#addUploadVideo .tagBack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
#addUploadVideo .del_tag {
  width: 16px;
  height: 16px;
  background: url("../imgs/delPic.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 9 !important;
  cursor: pointer;
}
#addUploadVideo .tagCont {
  background-color: #f4f4f4;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}
#addUploadVideo .tagInput {
  position: relative;
}
#addUploadVideo .tagInput .searchIcon {
  width: 15px;
  height: 19px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../imgs/icon_search.png") no-repeat;
  background-size: 100%;
  font-size: 0;
}
#addUploadVideo .tagInput .am-list-item .am-input-control input {
  width: 88%;
}
#addUploadVideo .icon_delete {
  font-size: 0;
  width: 34px;
  height: 32px;
  background-size: 100%;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#addUploadVideo .classTags {
  padding-right: 15px;
  padding-top: 10px;
  height: calc(100% - 98px);
  overflow-y: auto;
}
#addUploadVideo .classTags .am-tag-normal::before,
#addUploadVideo .classTags .am-tag-active::before {
  display: none;
}
#addUploadVideo .classTags .am-tag {
  margin-left: 15px;
  margin-bottom: 10px;
  border: 1px #fff solid;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  padding: 0 10px;
}
#addUploadVideo .classTags .am-tag-normal {
  border-radius: 2px;
  margin-left: 15px;
}
#addUploadVideo .classTags .am-tag-text {
  font-size: 13px;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: 70px;
}
#addUploadVideo .classTags .am-tag-active {
  border: 1px #2B84EF solid;
  color: #2B84EF;
}
#addUploadVideo .spanTag {
  border: 1px #2B84EF solid;
  color: #2B84EF;
  padding: 0 10px;
  font-size: 13px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 36px;
  line-height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  max-width: 100px;
  display: inline-block;
}
#addUploadVideo .tagBtn {
  width: 36px;
  height: 36px;
  background-size: 100%;
  border: 0;
  display: inline-block;
}
#addUploadVideo .sameBack {
  background-color: #fff;
  padding: 15px;
  font-size: 16px;
  color: #666;
}
#addUploadVideo .listCont {
  background-color: #fff;
  margin-top: 10px;
  position: relative;
}
#addUploadVideo .listCont:first-child {
  margin-top: 0;
}
#addUploadVideo .listCont .am-list-item .am-input-control input {
  width: 88%;
}
#addUploadVideo .listCont .icon_delete {
  font-size: 0;
  width: 34px;
  height: 32px;
  background-size: 100%;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#addUploadVideo .listCont .am-list-item .am-input-label {
  color: #666 !important;
  font-size: 16px;
}
#addUploadVideo .listCont .am-list-item .am-input-label.am-input-label-5 {
  width: 70px;
  margin-right: 4px;
  text-align: right;
  padding-right: 15px;
}
#addUploadVideo .listCont .textTitle {
  width: 70px;
  margin-right: 4px;
  text-align: right;
  padding-right: 15px;
}
#addUploadVideo .listCont .textTitle .uploadSupport {
  font-size: 14px;
  color: #888;
}
#addUploadVideo .listCont .uploadBtn {
  font-size: 0;
  width: 68px;
  height: 68px;
  background-size: 100%;
  border: 0;
  cursor: pointer;
}
#addUploadVideo .listCont .upload_file {
  width: 68px;
  height: 68px;
  text-align: center;
  background-color: #eee;
  position: relative;
}
#addUploadVideo .listCont .upload_file .icon_pointer {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 0;
  border-radius: 0 0 2px 2px;
  text-align: center;
  font-size: 12px;
}
#addUploadVideo .listCont .upload_file .imgTag {
  width: 100%;
  height: 100%;
}
#addUploadVideo .listCont .upload_file .musicIcon {
  background-size: 100%;
  width: 100%;
  height: 100%;
}
#addUploadVideo .addBtn {
  text-align: center;
  font-size: 16px;
  color: #638bb7;
  line-height: 30px;
  padding: 7px 15px;
  margin-top: 15px;
}
#addUploadVideo .addBtn span {
  margin: 0 auto;
  position: relative;
  width: 80px;
  padding-left: 20px;
  display: block;
}
#addUploadVideo .addBtn .am-icon-md {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  position: absolute;
  left: 0;
  top: 5px;
}
#addUploadVideo .bottomBox {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#addUploadVideo .bottomBox span {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  display: inline-block;
}
#addUploadVideo .bottomBox .bind {
  background: #e46a51;
  color: #fff;
}
#addUploadVideo .bottomBox .close {
  background: #fff;
  color: #e46a51;
}
