(node) util.print is deprecated. Use console.log instead.
#AppSystem {
  height: 100%;
  overflow: hidden;
}
#AppSystem #main {
  height: calc(100% - 54px);
}
#AppSystem #main .left {
  width: 250px;
  height: 100%;
  background: #F5F7FF ;
  float: left;
  display: table;
  text-align: center;
}
#AppSystem #main .left .am-tabs-default-bar-tab {
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}
#AppSystem #main .left .am-tabs-default-bar-tab-active {
  color: #4380EB;
}
#AppSystem #main .left .am-tabs-default-bar-underline {
  border-color: #4380EB;
}
#AppSystem #main .right {
  margin-left: 250px;
  height: 100%;
  background: #fff;
  text-align: center;
  overflow-y: auto;
}
#AppSystem .logo {
  width: 50%;
  text-align: left;
}
#AppSystem .headPic {
  width: 44px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
#AppSystem .userName {
  margin: 0 0 0 12px;
}
#AppSystem .user_line {
  height: 14px;
  position: relative;
  width: 1px;
  margin: 0 25px;
}
#AppSystem .user_line:after {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid #F1F1F1;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#AppSystem .user_exit {
  background: url("img/icon_exit.png") no-repeat;
  width: 18px;
  height: 18px;
  background-size: 100% 100%;
  margin-right: 10px;
  display: inline-block;
}
#AppSystem .cancellation span,
#AppSystem .cancellation i {
  vertical-align: middle;
}
#AppSystem .am-navbar {
  height: 54px;
  background-color: #4380eb;
}
#AppSystem .am-navbar-left {
  padding-left: 50px;
  font-size: 18px;
  font-weight: normal;
}
#AppSystem .am-navbar-right {
  font-size: 14px;
  margin-right: 50px;
}
#AppSystem .am-tabs-default-bar-top .am-tabs-default-bar-tab {
  border-color: #e5e5e5;
  background: #F5F7FF;
}
#AppSystem .black_bg {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}
#AppSystem .preview {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  transform: translate(-50%, -50%);
  overflow: auto;
  text-align: center;
  width: 320px;
  box-shadow: #282d36 0px 0px 8px;
  background-color: #fff;
  padding: 10px 15px;
  height: 93%;
  z-index: 10000000;
}
#AppSystem .editor_image,
#AppSystem .editor_video {
  max-width: 100%;
  margin: 10px auto 10px auto;
  display: block;
}
#AppSystem .editor_text {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Apple Color Emoji", "Emoji Symbols Font", "Segoe UI Symbol", Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.6;
  /*字体颜色影响插件*/
  color: #111;
  text-align: left;
  border: 1px solid #ffffff;
}
#AppSystem .changeTabs {
  width: 170px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  padding: 0 !important;
  cursor: pointer;
}
#AppSystem .changeTabs i {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  display: block;
  background: #fff;
  margin: -5px auto;
}
#AppSystem .icon-menu {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 8px;
}
#AppSystem .icon-Media {
  background: url("img/iconMedia.png") no-repeat;
  background-size: 100% 100%;
}
#AppSystem .icon-video {
  background: url("img/iconvideo.png") no-repeat;
  background-size: 100% 100%;
}
#AppSystem .title {
  font-size: 20px;
  line-height: 22px;
  word-break: break-word;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0 12px;
  text-align: left;
}
#AppSystem .head_info {
  font-size: 12px;
  margin: 5px 0 10px;
  text-align: left;
}
#AppSystem .head_info .author {
  display: inline-block;
  padding-right: 10px;
  color: #999;
}
#AppSystem .head_info .head_info_date {
  display: inline-block;
  color: #999;
}
