#AppSystem {
  height: 100%;
  #main {
    height: 100%;
    .left {
      width: 30%;
      height: 100%;
      background: red;
      float: left;
      display: table;
      text-align: center;
    }

    .right {
      //width: 70%;
      height: 100%;
      background: yellow;
      text-align: center;
    }
  }

  .logo {
    width: 50%;
    text-align: left;
  }
  .headPic {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
  }
  .userName{
    margin: 0 10px
  }

}