#Login {
  height: 100%;
  background: url("./img/login_bg.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  .ThinkChange_cont{
    text-align: center;
    .ThinkChange_text{
      color: #fff;
      font-size: 16px;
      margin-top: 48px;
    }
    .ThinkChange{
      width: 200px;
      height:200px;
      background: url("./img/ThinkChange.gif") no-repeat;
      background-size: 100% 100%;
      display: inline-block;
    }
  }
  #main {
    height: 100%;
    .left {
      width: 300px;
      height: 100%;
      background: red;
      float: left;
      display: table;
      text-align: center;
    }

    .right {
      height: 100%;
      background: yellow;
      text-align: center;
    }
  }
}