#addUploadMusic {
  .addList{
    height: calc(~"100% - 77px");
    overflow-y: auto;
  }

  .sameBack{
    background-color: #fff;
    padding: 15px;
    font-size: 15px;
    color: #666;
  }

  .listCont{
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    &:first-child{
      margin-top: 0;
    }
    .am-list-item .am-input-control input{
      width: 88%;
      font-size: 15px;
      color: #333;
    }
    .icon_delete{
      background: url("../img/del_group.png") no-repeat;
      font-size: 0;
      width: 34px;
      height: 32px;
      background-size: 100%;
      border: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .am-list-item .am-input-label{
      color: #666 !important;
      font-size: 15px;
    }

    .am-list-item .am-input-label.am-input-label-5{
      width: 70px;
      margin-right: 4px;
      text-align: right;
      padding-right: 15px;
    }

    .textTitle {
      width: 70px;
      margin-right: 4px;
      text-align: right;
      padding-right: 15px;
      .uploadSupport {
        font-size: 13px;
        color: #888;
      }
    }


  }


}