(node) util.print is deprecated. Use console.log instead.
#uploadMusicList .am-card {
  min-height: 88px;
}
#uploadMusicList .item {
  padding: 10px 0;
}
#uploadMusicList .item img {
  width: 68px;
  height: 68px;
  margin-right: 15px;
}
#uploadMusicList .item .textCont {
  width: calc(100% - 78px);
  color: #333;
  font-size: 16px;
}
#uploadMusicList .item .textCont > div:first-child {
  margin-bottom: 10px;
}
#uploadMusicList .addBunton {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}
#uploadMusicList .addBunton img {
  width: 100%;
}
#uploadMusicList .updateModel {
  width: 100%;
  background-color: #f4f4f4;
  position: absolute;
  bottom: 0;
  z-index: 999;
  height: 70%;
}
#uploadMusicList .tagAddPanel_bg {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 980;
  top: 0;
  left: 0;
  display: none;
}
#uploadMusicList .bottomBox {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#uploadMusicList .bottomBox span {
  flex: 1;
  text-align: center;
  font-size: 14px;
  padding: 1rem;
  display: inline-block;
}
#uploadMusicList .bottomBox .bind {
  background: #F56A55;
  color: #fff;
}
#uploadMusicList .close {
  font-size: 1.5em;
  background: #fff;
  color: #F56A55;
}
