#uploadMusicList .am-list-view-scrollview-content {
  width: 100%;
}
#uploadMusicList .am-card {
  min-height: auto;
  padding-bottom: 0;
}
#uploadMusicList .item {
  padding: 15px;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
}
#uploadMusicList .item img {
  width: 44px;
  height: 44px;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#uploadMusicList .item .textCont {
  width: calc(100% - 59px);
  color: #333;
  font-size: 16px;
}
#uploadMusicList .item .textCont .singer {
  margin-top: 10px;
  position: relative;
}
#uploadMusicList .item .textCont .singer .textOver {
  width: calc(100% - 65px);
}
#uploadMusicList .item .textCont .singer .icon {
  position: absolute;
  right: -8px;
  top: 2px;
  height: 18px;
  line-height: 18px;
}
#uploadMusicList .addBunton {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}
#uploadMusicList .addBunton img {
  width: 100%;
}
#uploadMusicList .updateModel {
  width: 100%;
  background-color: #f4f4f4;
  position: absolute;
  bottom: 0;
  z-index: 999;
  height: 351px;
}
#uploadMusicList .tagAddPanel_bg {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 980;
  top: 0;
  left: 0;
  display: none;
}
#uploadMusicList .bottomBox {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px #e5e5e5 solid;
  padding: 10px 0;
  background-color: #fff;
}
#uploadMusicList .bottomBox span {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  display: inline-block;
  margin: 0 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#uploadMusicList .bottomBox .bind {
  background: #4285F4;
  color: #fff;
}
#uploadMusicList .close {
  background: #fff;
  color: #4285F4;
  border: 1px #4285F4 solid;
}
#uploadMusicList .listCont {
  background-color: #fff;
  margin-top: 10px;
  position: relative;
}
#uploadMusicList .listCont .sameBack {
  background-color: #fff;
  padding: 15px;
  font-size: 16px;
  color: #666;
}
#uploadMusicList .listCont:first-child {
  margin-top: 0;
}
#uploadMusicList .listCont .icon_delete {
  background: url("../img/del_group.png") no-repeat;
  font-size: 0;
  width: 34px;
  height: 32px;
  background-size: 100%;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#uploadMusicList .listCont .am-list-item .am-input-label {
  color: #666 !important;
  font-size: 16px;
}
#uploadMusicList .listCont .am-list-item .am-input-label.am-input-label-5 {
  width: 70px;
  margin-right: 4px;
  text-align: right;
  padding-right: 15px;
}
#uploadMusicList .listCont .textTitle {
  width: 70px;
  margin-right: 4px;
  text-align: right;
  padding-right: 15px;
}
#uploadMusicList .listCont .textTitle .uploadSupport {
  font-size: 14px;
  color: #888;
}
#uploadMusicList .listCont .uploadBtn {
  background: url("../img/addPic.png") no-repeat;
  font-size: 0;
  width: 68px;
  height: 68px;
  background-size: 100%;
  border: 0;
  cursor: pointer;
}
#uploadMusicList .listCont .upload_file {
  width: 68px;
  height: 68px;
  text-align: center;
  background-color: #eee;
  position: relative;
}
#uploadMusicList .listCont .upload_file .icon_pointer {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 0;
  border-radius: 0 0 2px 2px;
  text-align: center;
  font-size: 12px;
}
#uploadMusicList .listCont .upload_file .imgTag {
  width: 100%;
  height: 100%;
}
#uploadMusicList .listCont .upload_file .musicIcon {
  background: url("../img/musicIcon.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
