#VillageCardSystemHome{
  .wrap{
    width: 100%;
    height: 100%;
  }
  .leftBox{
    width: 30%;
    min-height: 100%;
    .myMsg{
      height: 60px;
      align-items: center;
      img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .leftAccordion{
      padding-top: 20px;
    }
    .quiteBtn{
      position: absolute;
      left: 0;
      bottom: 10px;
    }
  }
  .rightBox{
    width: 70%;
    .rightHeader{
      align-items: center;
      justify-content: space-between;
      height: 60px;
      background-color: #f5f5f5;
      .btn span{
        display: inline-block;
        cursor: pointer;
        background-color: #71B0FA;
        color: #fff;
        font-size: 13px;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 15px;
      }
    }
  }
  .am-accordion-header i{
    display: none;
  }
  .am-accordion-item{
    cursor: pointer;
  }
  .am-accordion-item-active .am-accordion-header{
    background-color: #71B0FA;
  }
  .popBox{
    width: 500px;
    height: 200px;

    .editBtn{
      display: block;
    }
    .editCont{
      padding: 0 30px;
      input{
        width: 100%;
      }
    }
  }
  .editHeader{
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .submitBtn{
    span{
      cursor: pointer;
      background-color: #71B0FA;
      color: #fff;
      font-size: 14px;
      margin: 0 auto;
      padding: 8px  0;
      border-radius: 5px;
      display: block;
      text-align: center;
      width: 100px;
    }
    .my_flex{
      justify-content: center;
      span{
        margin:0 15px;
      }
    }
  }
  .editorPop,.codePop{
    width: 500px;
    height: 200px;
  }
}