#wrongQuestionCount {
  position: relative;
  color: #333;
}
#wrongQuestionCount .topDiv {
  line-height: 1.4;
  overflow: hidden;
  padding: 12px 15px;
  background-color: #fff;
  position: relative;
}
#wrongQuestionCount .topDiv .course {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  width: calc(100% - 75px);
  vertical-align: middle;
}
#wrongQuestionCount .topDiv .icon_change {
  padding-right: 20px;
  color: #666;
  font-size: 12px;
  background: url("../image/icon_change.png") no-repeat right center;
  background-size: 15px;
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#wrongQuestionCount .title,
#wrongQuestionCount .listCont {
  font-size: 14px;
  padding: 15px 15px 0;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
}
#wrongQuestionCount .title > span,
#wrongQuestionCount .listCont > span {
  width: 25%;
  vertical-align: top;
  text-align: left;
}
#wrongQuestionCount .title > span:first-child,
#wrongQuestionCount .listCont > span:first-child {
  text-align: left;
  padding-right: 5px;
  box-sizing: border-box;
}
#wrongQuestionCount .title > span:nth-child(2),
#wrongQuestionCount .listCont > span:nth-child(2) {
  width: calc(75% - 88px);
}
#wrongQuestionCount .title > span:nth-child(2) > span,
#wrongQuestionCount .listCont > span:nth-child(2) > span {
  width: 50%;
  display: inline-block;
  text-align: left;
}
#wrongQuestionCount .title > span:nth-child(2) > span:first-child span,
#wrongQuestionCount .listCont > span:nth-child(2) > span:first-child span {
  width: 28px;
  display: inline-block;
  text-align: center;
}
#wrongQuestionCount .title > span:nth-child(2) > span:last-child span,
#wrongQuestionCount .listCont > span:nth-child(2) > span:last-child span {
  width: 55px;
  display: inline-block;
  text-align: center;
}
#wrongQuestionCount .title > span:last-child,
#wrongQuestionCount .listCont > span:last-child {
  width: 88px;
  float: right;
  text-align: center;
}
#wrongQuestionCount .title {
  background-color: #f4f8fe;
  padding-bottom: 15px;
}
#wrongQuestionCount .listCont .tag {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  font-size: 12px;
  color: #4285F4 !important;
  line-height: 21px;
  box-sizing: border-box;
  word-break: break-word;
  white-space: inherit;
}
#wrongQuestionCount .listCont:last-child {
  padding-bottom: 15px;
}
#wrongQuestionCount .modalBack {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
#wrongQuestionCount .modalDiv {
  background: #fff;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 179px;
}
#wrongQuestionCount .modalDiv .am-list-header {
  padding: 18px 0 0;
}
#wrongQuestionCount .modalDiv .am-list-item .am-list-line .am-list-content {
  border: 1px #AEAEAE solid !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  font-size: 13px;
  color: #666 !important;
  padding: 7.5px 16px;
  line-height: 1;
  box-sizing: border-box;
  word-break: break-word;
  white-space: inherit;
}
#wrongQuestionCount .modalDiv .am-radio-inner::after {
  display: none;
}
#wrongQuestionCount .modalDiv .am-list-item {
  min-height: 22px !important;
  padding: 0 ;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: visible;
}
#wrongQuestionCount .modalDiv .am-list-line {
  padding-right: 0;
}
#wrongQuestionCount .modalDiv .am-list-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#wrongQuestionCount .modalDiv .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio {
  height: 30px;
}
#wrongQuestionCount .modalDiv .am-radio-item.checked .am-list-line .am-list-content {
  border: 1px #4285F4 solid !important;
  color: #fff !important;
  background-color: #4285F4;
}
#wrongQuestionCount .modalDiv input {
  line-height: 30px;
  height: 30px;
}
#wrongQuestionCount .modalDiv .selectProject {
  text-align: center;
  font-size: 17px;
  color: #333;
}
#wrongQuestionCount .modalDiv .tagCont {
  padding-left: 15px;
  margin-bottom: 5px;
}
#wrongQuestionCount .modalDiv .tagCont .am-list {
  height: 120px;
  overflow-y: auto;
}
#wrongQuestionCount .modalDiv .bottomBox {
  padding: 0;
  position: relative;
}
#wrongQuestionCount .modalDiv .bottomBox span {
  line-height: 41px;
  height: 41px;
  font-size: 15px;
  color: #4285F4;
  margin: 0;
}
#wrongQuestionCount .modalDiv .bottomBox span:first-child {
  position: relative;
  color: #666;
}
#wrongQuestionCount .modalDiv .bottomBox span:first-child::after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
#wrongQuestionCount.redColor .modalDiv .bottomBox span {
  color: #F46A55;
}
#wrongQuestionCount.redColor .modalDiv .bottomBox span:first-child {
  color: #666;
}
#wrongQuestionCount.redColor .modalDiv .am-radio-item.checked .am-list-line .am-list-content {
  border: 1px #F46A55 solid !important;
  background-color: #F46A55;
}
