(node) util.print is deprecated. Use console.log instead.
#alreadyLookThrough {
  position: relative;
}
#alreadyLookThrough video::-webkit-media-controls-fullscreen-button {
  display: none;
}
#alreadyLookThrough .content {
  color: #333;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  font-size: 15px;
}
#alreadyLookThrough .sameBack {
  background-color: #fff;
  padding: 15px;
}
#alreadyLookThrough .title {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
}
#alreadyLookThrough .topMsg {
  font-size: 12px;
  height: 28px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  overflow: hidden;
}
#alreadyLookThrough .topMsg .photo {
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
#alreadyLookThrough .topMsg .type img {
  width: 48px;
  height: 17px;
  vertical-align: middle;
}
#alreadyLookThrough .topMsg .time {
  color: #999;
  margin: 0 10px;
}
#alreadyLookThrough .textCont {
  margin-top: 15px;
  font-size: 15px;
  color: #333;
  line-height: 22px;
  word-break: break-all;
}
#alreadyLookThrough .textCont img {
  max-width: 100%;
}
#alreadyLookThrough .textCont video {
  max-width: 100%;
}
#alreadyLookThrough .textCont .video_title {
  margin-bottom: 10px;
}
#alreadyLookThrough .isDangerArea {
  margin: 15px 0 10px;
  background-color: #fff;
}
#alreadyLookThrough .isDangerArea .am-list {
  overflow: hidden;
}
#alreadyLookThrough .isDangerArea .am-list-header {
  color: #666;
  font-size: 16px;
  float: left;
  width: auto;
  padding-right: 5px;
}
#alreadyLookThrough .isDangerArea .am-list-content {
  color: #666 !important;
  font-size: 16px;
  padding-left: 24px;
  line-height: 36px;
  vertical-align: bottom;
}
#alreadyLookThrough .isDangerArea .am-list-body {
  float: left;
  border: 0;
  background: none !important;
}
#alreadyLookThrough .isDangerArea .am-list-body::before,
#alreadyLookThrough .isDangerArea .am-list-body:after,
#alreadyLookThrough .isDangerArea .am-list-body .am-list-line::after {
  display: none;
  border: 0;
}
#alreadyLookThrough .isDangerArea .am-list-body .am-list-line {
  border: 0;
}
#alreadyLookThrough .isDangerArea .am-radio-item {
  display: inline-block;
  background: none;
  width: 88px;
}
#alreadyLookThrough .isDangerArea .am-radio-inner:after {
  width: 5px;
  height: 11px;
  border-width: 0 1px 1px 0;
  top: 0;
}
#alreadyLookThrough .isDangerArea .am-radio-inner {
  border: 1px #999999 solid;
  width: 18px;
  height: 18px;
  background-color: #fff;
  left: 0 !important;
}
#alreadyLookThrough .isDangerArea .am-radio-checked .am-radio-inner {
  border: 1px #4285F4 solid;
}
#alreadyLookThrough .isDangerArea .am-list-header {
  padding: 16px 15px;
}
#alreadyLookThrough .description {
  font-size: 15px;
  color: #666;
}
#alreadyLookThrough .description .am-list .am-list-item.am-textarea-item {
  padding: 0;
}
#alreadyLookThrough .description textarea {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}
#alreadyLookThrough .review {
  background-color: #fff;
  font-size: 15px;
  margin-top: 10px;
}
#alreadyLookThrough .review > div {
  padding: 15px;
  overflow: hidden;
  position: relative;
}
#alreadyLookThrough .review .title {
  color: #666;
  font-size: 15px;
}
#alreadyLookThrough .review .time {
  float: right;
}
#alreadyLookThrough .review .reCont {
  padding-top: 10px;
  line-height: 20px;
}
#alreadyLookThrough .review .reBtn {
  width: 82px;
  height: 32px;
  line-height: 32px;
  color: #638BB7;
  border: 1px #638BB7 solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -17px;
}
#alreadyLookThrough .review .pass {
  color: #4CAF00;
}
#alreadyLookThrough .reCheckCont {
  padding-bottom: 75px;
}
#alreadyLookThrough .reCheckCont .submitBtn {
  position: fixed;
  background-color: #f4f4f4;
  bottom: 0;
  padding: 15px;
}
#alreadyLookThrough .result span {
  font-size: 13px;
}
#alreadyLookThrough .editor_image,
#alreadyLookThrough .editor_video {
  max-width: 100%;
  margin: 10px auto 0 auto;
  display: block;
}
#alreadyLookThrough .editor_video {
  padding: 5px;
}
#alreadyLookThrough .editor_text {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Apple Color Emoji", "Emoji Symbols Font", "Segoe UI Symbol", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.6;
  /*字体颜色影响插件*/
  color: #000000;
  text-align: left;
  border: 1px solid #ffffff;
}
