(node) util.print is deprecated. Use console.log instead.
#lookThrough {
  color: #333;
}
#lookThrough .am-tabs-pane-wrap {
  overflow: hidden;
}
#lookThrough .am-list-body {
  background-color: #f4f4f4;
}
#lookThrough .list-view-section-body > div:last-child .item {
  margin-bottom: 0 ;
}
#lookThrough .textOver3 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#lookThrough .am-list-view-scrollview-content {
  width: 100%;
}
#lookThrough .am-tabs-default-bar-tab {
  font-size: 17px;
  color: #676C6F ;
}
#lookThrough .am-tabs-default-bar-tab-active {
  color: #4285F4;
}
#lookThrough .item {
  background-color: #fff;
  margin: 10px 15px;
  padding: 15px;
  font-size: 16px;
  color: #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#lookThrough .item .right {
  width: calc(100% - 38px);
  position: relative;
}
#lookThrough .item .topMsg {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
}
#lookThrough .item .author {
  margin-right: 10px;
  color: #666;
  font-size: 13px;
  vertical-align: middle;
  line-height: 28px;
  max-width: calc(100% - 88px);
}
#lookThrough .item .photo {
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
#lookThrough .item .type {
  margin-right: 10px;
  width: 48px;
  height: 17px;
}
#lookThrough .item .type img {
  width: 100%;
  height: 100%;
}
#lookThrough .item .toFirst {
  padding: .5px 3px;
  border: 1px #D84759 solid;
  color: #D84759;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 17px;
}
#lookThrough .item .toPriority {
  padding: 0 3px;
  border: 1px #4285F4 solid;
  color: #4285F4;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 15px;
}
#lookThrough .item .title {
  font-size: 15px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 5px;
  line-height: 20px;
}
#lookThrough .item .time {
  font-size: 12px;
  color: #666;
  margin-top: 9px;
}
#lookThrough .reviewed .item .author {
  max-width: calc(100% - 35px);
}
#lookThrough .reviewed .topMsg {
  width: calc(100% - 60px);
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  flex-wrap: wrap;
}
#lookThrough .status i {
  background: url("../img/icon_passNo.png") no-repeat;
  background-size: 100%;
  width: 56px;
  height: 43px;
  position: absolute;
  right: -6px;
  top: -10px;
  font-size: 0;
  z-index: 11;
  display: block;
}
#lookThrough .status i.pass {
  background: url("../img/icon_pass.png") no-repeat;
  background-size: 100%;
}
