#lookThrough{
  color: #333;
  .am-tabs-pane-wrap{
    overflow: hidden;
  }
  .am-list-body{
    background-color: #fff;
  }
  .list-view-section-body{
    &>div:last-child .item{
      margin-bottom:0 ;
    }
  }
  .textOver3{
    word-break: break-all;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .am-list-view-scrollview-content{
    width: 100%;
  }
  .am-tabs-default-bar-tab{
    font-size: 17px;
    color: #676C6F ;
  }
  .am-tabs-default-bar-tab-active{
    color: #4285F4;
  }
  .item{
    background-color: #fff;
    margin: 10px 15px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    .right{
      width: calc(~"100% - 38px");
      position: relative;
    }
    .topMsg{
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 28px;
    }
    .author{
      margin-right: 10px;
      color: #666;
      font-size: 13px;
      vertical-align: middle;
      line-height: 28px;
      max-width: calc(~"100% - 88px");
    }
    .photo{
      width: 28px;
      height: 28px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 10px;
    }
    .type{
      margin-right: 10px;
      width: 48px;
      height: 17px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .toFirst{
      padding: .5px 3px;
      border: 1px #D84759 solid;
      color: #D84759;
      font-size: 12px;
      text-align: center;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      line-height: 17px;
    }
    .toPriority{
      padding: 0 3px;
      border: 1px #4285F4 solid;
      color: #4285F4;
      font-size: 12px;
      text-align: center;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      line-height: 15px;
    }
    .title{
      font-size: 15px;
      word-break: break-all;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 5px;
      line-height: 20px;
    }
    .time{
      font-size: 12px;
      color: #666;
      margin-top: 9px;
    }
  }
  .reviewed{
    .item .author{
      max-width: calc(~"100% - 100px");
    }
    .topMsg{
      width: calc(~"100% - 60px");
      -webkit-flex-wrap: wrap; /* Safari 6.1+ */
      flex-wrap: wrap;
    }
  }
  .status{
    i{
      background: url("../img/icon_passNo.png") no-repeat;
      background-size: 100%;
      width: 56px;
      height: 43px;
      position: absolute;
      right: -6px;
      top: -10px;
      font-size: 0;
      z-index: 11;
      display: block;
      &.pass{
        background: url("../img/icon_pass.png") no-repeat;
        background-size: 100%;
      }
    }
  }
  .updateModel {
    width: calc(~"100% - 421px") !important;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: block !important;
    left: 420px !important;
    height: 100% !important;
    #waitLookThrough{
      height: calc(~"100% - 96px");
      padding: 0 35px;
      .isDangerArea.priority .am-list-item:first-child{
        padding-left: 0;
      }
      .isDangerArea .am-list-header{
        width: 60px;
      }
      .isDangerArea .am-list-header, .isDangerArea .am-list-content{
        color: #333 !important;
        font-size: 16px;
      }
      .audit-instructions{
        padding: 0;
        margin-top: 10px;
        .audit-instructionsLeft{
          width: 60px;
          display: inline-block;
        }
        .audit-instructionsRight{
          width: calc(~"100% - 62px");
          display: inline-block;
          border: 1px solid #BFBFBF;
          border-radius: 4px;
        }
      }
    }
    .bottomBox{
      padding: 20px 0;
      justify-content: center;
      span{
        height: 56px;
        line-height: 56px;
        width: 240px;
        flex: none;
        font-size: 20px;
        margin: 0 23px;
      }
    }
  }
  .tag-vedio{
    height: 250px;
    background: #000;
  }
  .tagAddPanel_bg {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 980;
    top: 0;
    left: 0;
    display: none;
  }
  .sameBackNew{
    padding:5px 15px 15px 15px !important;
  }
  .sameBackTop{
    padding-top: 0 !important
  }
  .sameBackBottom{
    padding-bottom: 0 !important
  }
  video::-webkit-media-controls:not(.audio-only) [pseudo="-webkit-media-controls-panel"] [pseudo="-internal-media-controls-overflow-button"]{
    display: none;
  }
  video::-internal-media-controls-download-button {
    display:none;
  }

  video::-webkit-media-controls-enclosure {
    overflow:hidden;
  }

  video::-webkit-media-controls-panel {
    width: calc(100% + 50px);
  }
  video::-webkit-media-controls-fullscreen-button {
    display: none;
  }
  #waitLookThrough, #alreadyLookThrough{
    height: 425px;
    overflow-y: auto;
    .isDangerArea{
      margin: 0;
    }
    .am-list-header{
      padding: 16px 0;
    }
  }
  .reCont{
    display: inline-block;
  }
  .reCheckCont{
    border-top: 10px solid #f6f6f6;
  }
  .auditTOP{
    padding-top: 5px !important;
  }
  .To-auditLeft{
      width: 420px;
    height: 100%;
  }
  .noReviewed{
    background: #fff;
    border-right: 1px solid rgba(36,36,36,0.1);
    .right-item{
      margin-left: 20px;
    }
  }
  .audit-content{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(36,36,36,0.1);
    .video_title{
      padding: 25px 0 60px 0;
      text-align: center;
      font-size: 18px;
    }
    .audit-info{
      font-size: 16px;
      & div{
        margin-bottom: 24px;
        .time{
          float: right;
        }
      }
    }
  }
}