#lookThrough{
  .am-list-view-scrollview-content{
    width: 100%;
  }
  .am-tabs-default-bar-tab{
    font-size: 17px;
    color: #676C6F ;
  }
  .am-tabs-default-bar-tab-active{
    color: #4285F4;
  }
  .item{
    background-color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
  }
}