#lookThrough{
  color: #333;
  .textOver3{
    word-break: break-all;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .am-list-view-scrollview-content{
    width: 100%;
  }
  .am-tabs-default-bar-tab{
    font-size: 17px;
    color: #676C6F ;
  }
  .am-tabs-default-bar-tab-active{
    color: #4285F4;
  }
  .item{
    background-color: #fff;
    margin: 10px 15px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    .right{
      width: calc(~"100% - 38px");
    }
    .author{
      color: #666;
      font-size: 13px;
      line-height: 17px;
    }
    .photo{
      width: 28px;
      height: 28px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 10px;
    }
    .type{
      margin-left: 10px;
      img{
        width: 48px;
        height: 17px;
        vertical-align: bottom;
      }
    }
    .title{
      font-size: 15px;
      word-break: break-all;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 8px;
      line-height: 20px;
    }
    .time{
      font-size: 12px;
      color: #666;
      margin-top: 8px;
    }
  }
}