#waitLookThrough {
  font-size: 15px;
  color: #333;
  height: 100%;
}
#waitLookThrough .fatherDiv {
  position: relative;
  height: 100%;
}
#waitLookThrough video::-webkit-media-controls-fullscreen-button {
  display: none;
}
#waitLookThrough .content {
  height: calc(100% - 75px);
  overflow-y: auto;
}
#waitLookThrough .sameBack {
  background-color: #fff;
  padding: 15px;
}
#waitLookThrough .title {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
  color: #000;
}
#waitLookThrough .topMsg {
  height: 28px;
  font-size: 12px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  flex-wrap: wrap;
}
#waitLookThrough .topMsg .photo {
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
#waitLookThrough .topMsg .type img {
  width: 48px;
  height: 17px;
  vertical-align: middle;
}
#waitLookThrough .topMsg .time {
  color: #999;
  margin: 0 10px;
}
#waitLookThrough .textCont {
  margin-top: 15px;
  font-size: 15px;
  color: #333;
  line-height: 22px;
  word-break: break-word;
}
#waitLookThrough .textCont img {
  max-width: 100%;
}
#waitLookThrough .textCont video {
  max-width: 100%;
}
#waitLookThrough .textCont .video_title {
  margin-bottom: 10px;
}
#waitLookThrough .isDangerArea {
  margin: 15px 0 10px;
  background-color: #fff;
}
#waitLookThrough .isDangerArea .am-list {
  overflow: hidden;
}
#waitLookThrough .isDangerArea .am-list-header {
  color: #666;
  font-size: 16px;
  float: left;
  width: auto;
  padding-right: 5px;
}
#waitLookThrough .isDangerArea .am-list-content {
  color: #666 !important;
  font-size: 16px;
  padding-left: 24px;
  line-height: 36px;
  vertical-align: bottom;
}
#waitLookThrough .isDangerArea .am-list-body {
  float: left;
  border: 0;
  background: none !important;
}
#waitLookThrough .isDangerArea .am-list-body::before,
#waitLookThrough .isDangerArea .am-list-body:after,
#waitLookThrough .isDangerArea .am-list-body .am-list-line::after {
  display: none;
  border: 0;
}
#waitLookThrough .isDangerArea .am-list-body .am-list-line {
  border: 0;
}
#waitLookThrough .isDangerArea .am-radio-item {
  display: inline-block;
  background: none;
  width: 88px;
}
#waitLookThrough .isDangerArea .am-radio-inner:after {
  width: 5px;
  height: 11px;
  border-width: 0 1px 1px 0;
  top: 0;
}
#waitLookThrough .isDangerArea .am-radio-inner {
  border: 1px #999999 solid;
  width: 18px;
  height: 18px;
  background-color: #fff;
  left: 0 !important;
}
#waitLookThrough .isDangerArea .am-radio-checked .am-radio-inner {
  border: 1px #4285F4 solid;
}
#waitLookThrough .isDangerArea .am-list-header {
  padding: 16px 15px;
}
#waitLookThrough .isDangerArea .toFirst {
  border-top: 10px #f4f4f4 solid;
}
#waitLookThrough .isDangerArea.priority .am-list-item:first-child {
  padding-left: 30px;
}
#waitLookThrough .isDangerArea.priority .toPriority {
  border-top: 10px #f4f4f4 solid;
}
#waitLookThrough .isDangerArea.priority .toPriority .am-list-item:first-child {
  padding-left: 0;
}
#waitLookThrough .description {
  font-size: 15px;
  color: #666;
}
#waitLookThrough .description .am-list .am-list-item.am-textarea-item {
  padding: 0;
}
#waitLookThrough .description textarea {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}
#waitLookThrough .editor_image,
#waitLookThrough .editor_video {
  max-width: 100%;
  margin: 10px auto 0 auto;
  display: block;
}
#waitLookThrough .editor_video {
  padding: 5px;
}
#waitLookThrough .editor_text {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Apple Color Emoji", "Emoji Symbols Font", "Segoe UI Symbol", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.6;
  /*字体颜色影响插件*/
  color: #000000;
  text-align: left;
  border: 1px solid #fff;
}
