#serachResult {
    video::-webkit-media-controls-fullscreen-button {
        display: none;
    }
    b{
        color: #facb28;
        font-weight: normal;
        
    }
    .am-search-cancel{
        font-size: 15px;
        color: #4285F4;
    }
    .am-search{
        background-color: #fff;
        .am-search-input{
            background-color: #f4f4f4;
            height: 35px;
            .am-search-synthetic-ph{
                height: 35px;
                line-height: 35px;
                text-align: left;
                padding-left: 15px;
            }
            input{
                color: #333;
                height: 35px;
            }
            .am-search-clear{
                padding: 10.5px;
            }
        }
    }
    .am-tabs-default-bar-tab{
        height: 36px !important;
        line-height: 36px !important;
        padding: 0;
        color: #676C6F;
        font-size: 16px;
    }
    .am-tabs-default-bar-tab-active{
        color: #4285F4 !important;
        font-size: 16px;
    }
    .am-tabs-default-bar-tab-active::before{
        content: '';
        position: absolute;
        background-color: #4285F4;
        display: block;
        z-index: 1;
        bottom: 0;
        left: 50%;
        right: 0 !important;
        width: 15px;
        height: 2px;
        margin-left: 0 !important;
        transform: translateX(-50%);
    }
    .uploadVideo{
        .am-list-body{
            background-color: #f4f4f4;
        }
    }
    .listCont {
      width: 100%;
      .list-view-section-body{
        padding: 0;
        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
        flex-wrap: wrap;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        text-align: left;
        overflow: hidden;
      }
        .videoItem{
            width: 50%;
            height: 215px;
            margin-top: 5px;
        }
        .videoInfo {
            position: relative;
            margin-right: 5px;

            height: 100%;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
            .gradient_bgT {
                background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); /* Firefox 3.6 - 15 */
                background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); /* 标准的语法 */
                position: absolute;
                top: 0;
                left: 0;
                padding: 9px;
                width: 100%;
                box-sizing: border-box;
                min-height: 50px;
            }
            .gradient_bgB {
                background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Firefox 3.6 - 15 */
                background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)); /* 标准的语法 */
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 9px;
                width: 100%;
                height: 50px;
                box-sizing: border-box;
                font-size: 12px;
            }

            .video_content {
                color: white;
                font-size: 15px;
                line-height: 20px;
                word-break: break-all;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .like {
                position: absolute;
                bottom: 9px;
                right: 8px;
                color: white;
                letter-spacing: 1px;
                i{
                    background: url("../images/like-white.png") no-repeat;
                    width: 13px;
                    height: 13px;
                    background-size: 100% 100%;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    margin-right: 4px;
                }
            }
            .read {
                position: absolute;
                bottom: 9px;
                left: 9px;
                color: white;
                background: url("../images/icon_play.png") no-repeat left center;
                background-size: 8px;
                padding-left: 10px;
                span {
                    transform: rotate(90deg);
                    display: inline-block;
                }
            }
            .video_row {
                width: 172px;
                height: 215px;
                display: inline-block;
                box-sizing: border-box;
                margin: 15px 0 15px 5px;
                position: relative;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                overflow: hidden;
                .video_firstImage {
                    width: 100%;
                    height: 100%;

                }


            }
        }
    }
    .i-label{
        position: absolute;
        bottom: 25px;
        padding: 9px 9px 4px 9px;
        .i-cont{
            margin-left: 14px;
            display: block;
            width: calc(~"100% - 15px");
            position: relative;
            top: -16px;
        }
        i{
            background: url("../images/icon-label-y.png") no-repeat;
            width: 10px;
            height: 13px;
            background-size: 100% 100%;
            display: inline-block;
            position: relative;
            top: 2px;
            margin-right: 4px;
        }
        span{
            color: #fff;
            font-size: 11px;
            line-height: 1.4;
        }

    }
    .i-challenge{
        width: 60%;
        position: absolute;
        bottom: 9px;
        left: 8px;
        line-height: 1;
        i{
            background: url("../images/icon-challenge-y.png") no-repeat;
            width: 10px;
            height: 13px;
            background-size: 100% 100%;
            display: inline-block;
            position: relative;
            top: 0;
            margin-right: 4px;
            float: left;
        }
        span{
            color: #fff;
            font-size: 11px;
            width: calc(~"100% - 14px");
        }
    }
    .User-Search{
        width: 100%;
        padding: 15px;
        background: #fff;
        .user{
            width: 42px;
            height:42px;
            border-radius: 50%;
            float: left;
            margin-right: 9px;
        }
        .user-name{
            display: inline-block;
            position: relative;
            top: 3px;
            .name{
                font-size: 15px;
                color: #333;
                line-height: 24px;
            }
            .fans{
                font-size: 13px;
                color: #888;
            }
        }
        .attentionBtn{
            border: 1px solid #4285F4;
            color: #4285F4;
            padding: 2px 4px;
            border-radius: 1px;
            font-size: 13px;
            background: #fff;
            margin-top: 11px;
            float: right;
            i{
                background: url("../images/attention-add.png") no-repeat;
                width: 11px;
                height: 11px;
                background-size: 100% 100%;
                display: inline-block;
                margin-right: 2px;
            }
        }
        .attentionBtn-old{
            border-color: #c8c8c8;
            color: #999;
        }
    }
    .search-bottom{
        height: 100px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);


        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

    }
    .video-body .am-list-body{
      padding:0 8px 0 13px
    }
}