#serachResult {
  /*  搜索圈子 start */
  /* 搜索圈子 end */
  /* 搜索文章start */
  /* 搜索文章end */
}
#serachResult video::-webkit-media-controls-fullscreen-button {
  display: none;
}
#serachResult ::-webkit-scrollbar {
  display: none;
}
#serachResult b {
  color: #facb28;
  font-weight: normal;
}
#serachResult .am-search-cancel {
  font-size: 15px;
  color: #4285F4;
}
#serachResult .am-search {
  background-color: #fff;
}
#serachResult .am-search .am-search-input {
  background-color: #f4f4f4;
  height: 35px;
}
#serachResult .am-search .am-search-input .am-search-synthetic-ph {
  height: 35px;
  line-height: 35px;
  text-align: left;
  padding-left: 15px;
}
#serachResult .am-search .am-search-input input {
  color: #333;
  height: 35px;
}
#serachResult .am-search .am-search-input .am-search-clear {
  padding: 10.5px;
}
#serachResult .am-tabs-default-bar-tab {
  height: 36px !important;
  line-height: 36px !important;
  padding: 0;
  color: #676C6F;
  font-size: 16px;
}
#serachResult .am-tabs-default-bar-tab-active {
  color: #4285F4 !important;
  font-size: 16px;
}
#serachResult .am-tabs-default-bar-tab-active::before {
  content: '';
  position: absolute;
  background-color: #4285F4;
  display: block;
  z-index: 1;
  bottom: 0;
  left: 50%;
  right: 0 !important;
  width: 15px;
  height: 2px;
  margin-left: 0 !important;
  transform: translateX(-50%);
}
#serachResult .uploadVideo .am-list-body {
  background-color: #f4f4f4;
}
#serachResult .listCont {
  width: 100%;
}
#serachResult .listCont .list-view-section-body {
  padding: 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  overflow: hidden;
}
#serachResult .listCont .videoItem {
  width: 50%;
  height: 300px;
  margin-top: 1px;
}
#serachResult .listCont .videoItem:nth-child(2n-1) .videoInfo {
  margin-right: 1px;
}
#serachResult .listCont .videoInfo {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#serachResult .listCont .videoInfo img {
  width: 100%;
  height: 100%;
}
#serachResult .listCont .videoInfo .gradient_bgT {
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px;
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
}
#serachResult .listCont .videoInfo .video_content {
  color: white;
  font-size: 15px;
  line-height: 20px;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#serachResult .listCont .videoInfo .like {
  position: absolute;
  bottom: 9px;
  right: 8px;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
}
#serachResult .listCont .videoInfo .like i {
  background: url("../images/like-white.png") no-repeat;
  width: 13px;
  height: 13px;
  background-size: 100% 100%;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
#serachResult .listCont .videoInfo .like-active {
  position: absolute;
  bottom: 9px;
  right: 8px;
  color: #e5352b;
  font-size: 11px;
  letter-spacing: 1px;
}
#serachResult .listCont .videoInfo .like-active i {
  background: url("../images/praiseActive.png") no-repeat;
  width: 13px;
  height: 13px;
  background-size: 100% 100%;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
#serachResult .listCont .videoInfo .read {
  position: absolute;
  bottom: 9px;
  left: 9px;
  color: white;
  background: url("../images/icon_play.png") no-repeat left center;
  background-size: 8px;
  padding-left: 10px;
}
#serachResult .listCont .videoInfo .read span {
  transform: rotate(90deg);
  display: inline-block;
}
#serachResult .listCont .videoInfo .video_row {
  width: 172px;
  height: 215px;
  display: inline-block;
  box-sizing: border-box;
  margin: 15px 0 15px 5px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
#serachResult .listCont .videoInfo .video_row .video_firstImage {
  width: 100%;
  height: 100%;
}
#serachResult .i-label {
  padding: 2px 9px 0 9px;
}
#serachResult .i-label .i-cont {
  margin-left: 14px;
  display: block;
  width: calc(100% - 15px);
  position: relative;
  top: -16px;
}
#serachResult .i-label i {
  background: url("../images/icon-label-y.png") no-repeat;
  width: 10px;
  height: 13px;
  background-size: 100% 100%;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
#serachResult .i-label .tagCont {
  padding-top: 3px;
}
#serachResult .i-label .tag {
  display: block;
  color: #fff;
  font-size: 11px;
  padding-bottom: 4px;
}
#serachResult .i-label .tag:last-child {
  padding-bottom: 0;
}
#serachResult .i-challenge {
  padding-left: 14px;
  margin-top: 4px;
  background: url("../images/icon-challenge-y.png") no-repeat left center;
  background-size: 9px;
  margin-left: 9px;
  line-height: 1;
}
#serachResult .i-challenge span {
  color: #fff;
  font-size: 11px;
}
#serachResult .User-Search {
  width: 100%;
  padding: 15px;
  background: #fff;
}
#serachResult .User-Search .user {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  float: left;
  margin-right: 9px;
}
#serachResult .User-Search .user-name {
  display: inline-block;
  position: relative;
  top: 3px;
}
#serachResult .User-Search .user-name .name {
  font-size: 15px;
  color: #333;
  line-height: 24px;
}
#serachResult .User-Search .user-name .fans {
  font-size: 13px;
  color: #888;
}
#serachResult .User-Search .attentionBtn {
  border: none;
  color: #4285F4;
  padding: 5px 6px;
  border-radius: 1px;
  font-size: 13px;
  background: #ECF3FF;
  margin-top: 11px;
  float: right;
}
#serachResult .User-Search .attentionBtn i {
  background: url("../images/attention-add.png") no-repeat;
  width: 9px;
  height: 9px;
  background-size: 100% 100%;
  display: inline-block;
  margin-right: 2px;
}
#serachResult .User-Search .attentionBtn-old {
  border-color: #c8c8c8;
  color: #999;
  background: #F6F6F6;
  padding: 5px;
}
#serachResult .search-bottom {
  height: 100px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#serachResult .search-bottom .bottomText {
  width: calc(100% - 40px);
  height: 100%;
  -webkit-flex-direction: column-reverse;
  /* Safari 6.1+ */
  flex-direction: column-reverse;
  padding-bottom: 9px;
  box-sizing: border-box;
}
#serachResult .video-body .am-list-body {
  padding: 0 8px 0 13px;
}
#serachResult .circleList {
  padding: 15px 15px 0 15px;
  border-bottom: 15px solid #f6f6f6;
  position: relative;
}
#serachResult .circleList .tags {
  display: inline-block;
  position: absolute;
  right: 14px;
  top: -6px;
}
#serachResult .circleList .tag-ThemeTask {
  background: url("../images/tag-ThemeTask.png") no-repeat;
  background-size: 100% 100%;
  width: 75px;
  height: 21px;
  display: inline-block;
}
#serachResult .circleList .tag-WrongTopic {
  width: 75px;
  height: 21px;
  display: inline-block;
}
#serachResult .circleList .tag-WrongTopic-red {
  background: url("../images/tag-WrongTopic-red.png") no-repeat;
  background-size: 100% 100%;
}
#serachResult .circleList .tag-WrongTopic-orange {
  background: url("../images/tag-WrongTopic-orange.png") no-repeat;
  background-size: 100% 100%;
}
#serachResult .circleList .tag-WrongTopic-green {
  background: url("../images/tag-WrongTopic-green.png") no-repeat;
  background-size: 100% 100%;
}
#serachResult .circleList .tag-WrongTopic-yellow {
  background: url("../images/tag-WrongTopic-yellow.png") no-repeat;
  background-size: 100% 100%;
}
#serachResult .circleList .tag-WrongTopic-blue {
  background: url("../images/tag-WrongTopic-blue.png") no-repeat;
  background-size: 100% 100%;
}
#serachResult .circleList .list_bottom,
#serachResult .circleList .detail_bottom {
  padding: 5px 15px;
  margin-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#serachResult .circleList .list_bottom:after,
#serachResult .circleList .detail_bottom:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: auto;
  right: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
#serachResult .circleList .detail_bottom {
  height: 25px;
}
#serachResult .circleList .detail_bottom .list_bottom_item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 15px;
}
#serachResult .list_item {
  width: 100%;
  margin-top: 0;
  background: #fff;
}
#serachResult .list_item .list_head {
  height: 40px;
  margin-bottom: 10px;
}
#serachResult .list_item .list_head .headPic {
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}
#serachResult .list_item .list_head .headPic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
#serachResult .list_item .list_head .userName {
  display: inline-block;
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  max-width: calc(100% - 100px);
}
#serachResult .list_item .list_head .createTime {
  color: #999;
  font-size: 13px;
}
#serachResult .list_item .list_image,
#serachResult .list_item .image_detail {
  margin-top: 10px;
  margin-right: -15px;
  font-size: 0;
  white-space: normal;
  margin-bottom: -8px;
  width: 354px;
}
#serachResult .list_item .list_image span,
#serachResult .list_item .image_detail span {
  font-size: 14px;
  color: #666;
  padding: 10px 0;
  display: inline-block;
  line-height: 1;
}
#serachResult .list_item .list_image img,
#serachResult .list_item .image_detail img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 8px;
  margin-bottom: 8px;
}
#serachResult .list_item .list_image .video_tag,
#serachResult .list_item .image_detail .video_tag {
  position: relative;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 2px;
  margin-right: 8px;
  display: inline-block;
  margin-bottom: 8px;
  vertical-align: top;
}
#serachResult .list_item .list_image .video_tag video,
#serachResult .list_item .image_detail .video_tag video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#serachResult .list_item .list_image .video_tag .video_tag_play,
#serachResult .list_item .image_detail .video_tag .video_tag_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../images/play-btn.png") no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 360px) and (min-width: 340px) {
  #serachResult .list_item .list_image,
  #serachResult .list_item .image_detail {
    width: 324px;
  }
  #serachResult .list_item .list_image img,
  #serachResult .list_item .image_detail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  #serachResult .list_item .list_image .video_tag,
  #serachResult .list_item .image_detail .video_tag {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
    vertical-align: top;
  }
}
@media (max-width: 339px) {
  #serachResult .list_item .list_image,
  #serachResult .list_item .image_detail {
    width: 294px;
  }
  #serachResult .list_item .list_image img,
  #serachResult .list_item .image_detail img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  #serachResult .list_item .list_image .video_tag,
  #serachResult .list_item .image_detail .video_tag {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
    vertical-align: top;
  }
}
#serachResult .list_item .list_bottom_item {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: #888;
  padding: 5px 20px;
  height: 25px;
}
#serachResult .list_item .list_bottom_item i {
  width: 15px;
  height: 15px;
  display: inline-block;
}
#serachResult .list_item .list_bottom_item .i-share {
  background: url("../images/share.png") no-repeat;
  background-size: 100% 100%;
}
#serachResult .list_item .list_bottom_item .i-comments {
  background: url("../images/comments.png") no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 14px;
}
#serachResult .list_item .list_bottom_item .i-praise {
  background: url("../images/praise.png") no-repeat;
  background-size: 100% 100%;
}
#serachResult .list_item .list_bottom_item .i-praise-active {
  background: url("../images/praiseActive.png") no-repeat;
  background-size: 100% 100%;
}
#serachResult .list_item .list_bottom_item .i-praise-active + span {
  color: #e5352b;
}
#serachResult .list_item .list_bottom_item span {
  position: relative;
  left: 5px;
  top: -2px;
}
#serachResult .list_item:first-child {
  margin-top: 15px;
}
#serachResult .list_item:last-child .circleList {
  border-bottom: none;
}
#serachResult .search-article .am-list-body {
  padding: 0;
}
#serachResult .search-article .article-List {
  width: 100%;
}
#serachResult .search-article .item {
  padding: 15px;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#serachResult .search-article .title {
  font-size: 15px;
  color: #333;
  line-height: 20px;
  margin-bottom: 10px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#serachResult .search-article .bottom {
  font-size: 12px;
  color: #999;
}
#serachResult .search-article .bottom > div {
  margin-right: 10px;
}
#serachResult .search-article .bottom .read {
  display: inline-block;
}
#serachResult .search-article .bottom .like {
  display: inline-block;
}
#serachResult .search-article .bottom .time {
  display: inline-block;
}
#serachResult .search-article .rightBox {
  width: 30%;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
#serachResult .search-article .rightBox img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
#serachResult .search-article .images img {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#serachResult .search-article .videoBox {
  position: relative;
}
#serachResult .search-article .videoBox video {
  padding-left: 25px;
}
#serachResult .search-article .videoBox .videoMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
}
#serachResult .search-article .videoBox .playImg {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#serachResult .empty-wrap {
  height: calc(100vh - 100px);
  position: relative;
}
@media screen and (max-width: 320px) {
  #serachResult .listCont .videoItem {
    height: 240px;
  }
}
