#List {
  .am-list-body{
    background: transparent;
  }
  .row{
    background: transparent;
    border-bottom: 1px solid #E5E5E5 ;
    padding: 15px;
    color: #333;
    text-align: left;
    .title{
      font-size: 14px;
      margin-bottom: 10px;
    }
    .row_bottom{
      font-size: 12px;
      .time{
        //width: 50%;
        display: inline-block;
        text-align: left;
        box-sizing: border-box;
        padding-right: 50px;
        font-family: Helvetica;
      }
      .oper{
        //width: 100px;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        background: url("../img/menu_more.png") no-repeat;
        width: 19px;
        height: 8px;
        background-size: 100% 100%;
        border: none;
        vertical-align: middle;
        top:3px;
        float: right;
        cursor: pointer;
        .operBox{
          width: 96px;
          position: absolute;
          top: 15px;
          left: 100%;
          background: white;
          -webkit-transform: translate(-100%, 0%);
          -ms-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
          text-align: center;
          z-index: 1;
          box-shadow: 0 2px 4px 0 #DADFF7;
          padding: 5px 0;
          font-size: 14px;
          color: #666;
          .operBox_row{
            padding: 10px 0px;
            border-bottom: 1px solid #eee;
            i{
              width: 15px;
              height: 15px;
              display: inline-block;
              margin-right: 10px;
            }
            .menu_del{
              background: url("../img/menu_del.png") no-repeat;
              background-size: 100% 100%;
            }
            .menu_edit{
              background: url("../img/menu_edit.png") no-repeat;
              background-size: 100% 100%;
            }
            span{
              position: relative;
              top: -2px;
            }
          }
        }
        .operBox_row:last-child{
          border-bottom: none;
        }
      }
    }
  }
  .row .select{
    background: #E8F1FF;
  }
}