html,
body {
  height: 100%;
  font-size: 14px;
  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial;
  -webkit-font-smoothing: antialiased;
}
body {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: #f6f6f6 !important;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#example,
.container {
  height: 100%;
}
.body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ddd;
}
hr {
  margin: 70px 10px;
}
.am-modal-content {
  height: auto;
  min-height: 100%;
}
.am-card,
.am-list-body {
  border: 0 !important;
}
.am-refresh-control-pull,
.am-refresh-control-release {
  justify-content: flex-start;
}
.color_9 {
  color: #999;
}
.color_6 {
  color: #666;
}
.color_6_p {
  padding: 20px 0 10px 15px;
  background: #fff;
}
.flex_1 {
  flex: 1;
}
.flex_auto {
  flex: auto;
}
.font_15 {
  font-size: 15px;
  color: #333;
}
.font_13 {
  font-size: 13px;
}
.font_12 {
  font-size: 12px;
}
.font_14 {
  font-size: 14px;
}
.color_red {
  color: #F46A55;
}
.line_item {
  height: 8px;
  background: #f4f4f4;
}
.my_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  overflow: hidden;
}
.flex_1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex_auto {
  flex: auto;
}
.h_blue_btn,
.J {
  color: #4990E2;
  border-radius: 2px;
  border: 1px solid #4990E2;
  padding: 2px 4px;
  font-size: 14px;
}
.h_orange_btn,
.MC {
  color: #F6A623;
  border-radius: 2px;
  border: 1px solid #F6A623;
  padding: 2px 4px;
  font-size: 14px;
}
.h_red_btn,
.S {
  color: #F56A55;
  border-radius: 2px;
  border: 1px solid #F56A55;
  padding: 2px 4px;
  font-size: 14px;
}
.h_green_btn,
.C {
  color: #6BA52B;
  border-radius: 2px;
  border: 1px solid #6BA52B;
  padding: 2px 4px;
  font-size: 14px;
}
.padding_8 {
  padding: 8px 0;
  line-height: 20px;
}
.font_20 {
  font-size: 1.42rem;
  font-family: sans-serif;
}
.font_16 {
  font-size: 1.15rem;
  font-family: sans-serif;
}
.tags_blue {
  margin: -5px 0 0 0;
}
.tags_blue span {
  border: 1px solid #a3ceff;
  border-radius: 2px;
  padding: 4px 6px;
  color: #4a90e2;
  margin-right: 10px;
  margin-top: 10px;
}
.list_padding {
  padding: 15px;
  border-bottom: 10px solid #f4f4f4;
}
.my_flex_wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.list_padding_no_b {
  border-bottom: 0;
}
.am-checkbox.am-checkbox-checked .am-checkbox-inner {
  border-color: #f46a55 !important;
  background: #f46a55 !important;
}
.list_wrap_padding {
  padding: 15px;
}
.flex_container {
  margin: 0 15px;
}
.flex_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cont_communal {
  color: #333;
  font-size: 17px;
  padding: 0 15px;
  background: #fff;
}
.cont_font {
  color: #333;
  font-size: 17px;
}
.cont_padding {
  padding: 0 15px;
}
.bg_white {
  background: #fff;
}
.list_high {
  height: 44px;
  line-height: 44px;
  width: 100%;
}
.text_hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
.font_gray {
  color: #5f5f5f;
}
.add_title {
  height: 44px;
  line-height: 44px;
}
.float_ri {
  float: right;
}
.float_l {
  float: left;
}
.addBunton {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
  background-color: #4285F4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  line-height: 2.8rem;
  text-align: center;
  z-index: 10;
}
.addBunton img {
  width: 100%;
}
.submitBtn {
  padding: 0 15px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  border-radius: 4px;
}
.submitBtn.noPosition {
  padding: 15px;
  position: static;
}
.submitBtn .am-button-primary {
  background-color: #F56A55;
  border: 1PX solid #F56A55;
}
.submitBtn .am-button-primary::before {
  border: 1PX solid #F56A55 !important;
}
.submitBtn .am-button-primary.am-button-active {
  background-color: #F56A55;
  opcity: 0.3;
}
.home_content {
  width: calc(100% - 1.66rem);
  padding: 0.83rem;
  height: calc(100% - 1.66rem) !important;
  clear: both;
  position: relative;
}
.home_content .inner_bg {
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 100%;
  padding: 0 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.empty_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
}
.am-list-footer {
  color: #999 !important;
}
.am-button-warning {
  background-color: #4285F4 !important;
}
.am-button-primary,
.am-button {
  border-radius: 4px !important;
}
.am-button::before {
  border-color: #4285F4 !important;
}
.am-button {
  height: 45px !important;
  line-height: 45px !important;
}
.textOver {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.textOver_line3 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line_public {
  position: relative;
}
.line_public:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: auto;
  right: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.am-tabs-default-bar-tab {
  height: 44px !important;
  line-height: 44px !important;
}
.deleteBtn_common {
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url("components/uploadVideo/imgs/icon_delete.png") no-repeat;
  background-size: 16px;
  padding: 0 8px;
  margin-right: 4px;
}
.modifyBtn_common {
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url("components/uploadVideo/imgs/icon_editor.png") no-repeat;
  background-size: 16px;
  padding: 0 8px;
}
.am-list-body::before,
.am-list-body::after,
.am-list-line::after {
  display: none !important;
}
.am-list-line {
  border: 0 !important;
}
.am-tabs-default-bar-top .am-tabs-default-bar-underline {
  display: none;
}
.am-tabs-default-bar-tab-active {
  position: relative;
}
.am-tabs-default-bar-tab-active::before {
  content: '';
  position: absolute;
  background-color: #4285F4;
  display: block;
  z-index: 1;
  top: auto;
  right: 15px;
  bottom: 1px;
  left: 50%;
  width: 16px;
  height: 2.5PX;
  margin-left: -8px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
/* 返回 */
.goBack {
  height: 44px;
  line-height: 44px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.goBack svg {
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -15px;
}
.goBack .am-icon-md {
  width: 30px;
  height: 30px;
  color: #666;
}
/*个人中心空页面*/
.emptyDiv {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.emptyDiv .emptyIcon {
  background: url("components/collection/img/icon_empty.png") no-repeat;
  width: 220px;
  height: 181px;
  background-size: 100%;
  text-align: center;
  margin: 0 auto;
}
.emptyDiv .emptyText {
  color: #999999;
  font-size: 14px;
}
/*删除弹窗*/
.am-modal-content .am-modal-title {
  color: #333 !important;
  line-height: 22px;
  font-size: 17px!important;
}
.am-modal-content .am-modal-input input {
  padding-left: 6px;
}
.am-modal-content .am-modal-button {
  font-size: 16px !important;
  height: 45px !important;
  line-height: 45px !important;
  color: #4285F4 !important;
}
.am-modal-content .am-modal-header {
  padding: 6px 15px 5px !important;
}
.am-modal-content .am-modal-button-group-h .am-modal-button:last-child::before,
.am-modal-content .am-modal-button-group-h::before {
  background-color: #dfdfdf !important;
}
.am-modal-content .am-modal-body {
  padding: 0 15px 12px !important;
}
.loading_text {
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  background: transparent;
}
.am-list-item .am-list-line .am-list-content,
.am-list-item .am-input-label {
  color: #333 !important;
}
.am-card::before {
  display: none;
}
.am-list-view-scrollview-content {
  width: 100%;
}
.am-list-item.am-input-item {
  height: 52px !important;
}
.bottomBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.bottomBox:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.bottomBox span {
  flex: 1;
  text-align: center;
  padding: 0;
  display: inline-block;
  margin: 0 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 43px;
  line-height: 43px;
  font-size: 16px;
}
.bottomBox .bind {
  background: #4285F4;
  color: #fff;
  border: 1px #4285F4 solid;
}
.bottomBox .close {
  background: #fff;
  color: #4285F4;
  border: 1px #4285F4 solid;
}
.am-list-item .am-input-label,
.am-list-item .am-input-control input,
.textTitle_t {
  font-size: 15px !important;
  color: #666 !important;
}
.sameBack {
  background-color: #fff;
  padding: 15px;
  font-size: 15px;
  color: #666;
}
.textTitle {
  width: 70px;
  margin-right: 4px;
  text-align: right;
  padding-right: 15px;
}
.textTitle .uploadSupport {
  font-size: 13px;
  color: #888;
}
.uploadBtn {
  background: url("components/uploadMusic/img/icon_uploadB.png") no-repeat;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-size: 100%;
  border: 0;
  cursor: pointer;
}
.upload_file {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #eee;
  position: relative;
}
.upload_file .icon_pointer {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px 0;
  border-radius: 0 0 2px 2px;
  text-align: center;
  font-size: 12px;
}
.upload_file .imgTag,
.upload_file img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 2px;
}
.upload_file .musicIcon {
  background: url("components/uploadMusic/img/musicIcon.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.am-list-item {
  min-height: 52px !important;
}
.am-input-control {
  font-size: 15px !important;
  color: #333;
}
.icon_delete {
  background: url("components/uploadMusic/img/del_group.png") no-repeat;
  font-size: 0;
  width: 34px;
  height: 32px;
  background-size: 100%;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/*新增组按钮*/
.addBtn {
  text-align: center;
  font-size: 16px;
  color: #4285F4 !important;
  line-height: 30px;
  padding: 10px 15px !important;
  margin-top: 15px;
}
.addBtn span {
  margin: 0 auto;
  position: relative;
  width: 80px;
  padding-left: 18px;
  display: block;
}
.addBtn .am-icon-md {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  position: absolute;
  left: 0;
  top: 6px;
}
.submit_button {
  margin: 20px 15px 15px;
}
/*弹窗背景阴影*/
.tagAddPanel_bg {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 980;
  top: 0;
  left: 0;
  display: none;
}
::-webkit-scrollbar {
  width: 2px;
  height: 12px;
}
/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 9px;
  -webkit-border-radius: 9px;
}
/* 滑块颜色 */
::-webkit-scrollbar-button {
  background-color: initial;
}
/* 滑轨两头的监听按钮颜色 */
/*通用文章编辑样式 */
.write_article {
  margin: 0;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
.write_article_cont {
  margin: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.edit_cont {
  margin-top: 0;
  height: 100%;
  position: relative;
}
.edit_btn {
  height: 54px;
  background: #F7F8FC;
  position: fixed;
  bottom: 0;
  width: calc(100% - 250px);
  border-top: 20px solid #fff;
  text-align: right;
  margin-top: 20px;
}
.edit_btn .edit_btn_cont {
  padding: 0 75px;
  margin-top: 8px;
}
.edit_btn .edit_btn_cont button {
  border-radius: 2px;
  border: none;
  font-size: 16px;
  margin-left: 50px;
  cursor: pointer;
}
.edit_btn .edit_btn_cont .publish {
  background: #4380EB;
  color: #fff;
  padding: 10px 25px;
}
.edit_btn .edit_btn_cont .Preview {
  color: #333;
  background: transparent;
}
/* 通用编辑文章样子*/
.editor_text {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Apple Color Emoji", "Emoji Symbols Font", "Segoe UI Symbol", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.6;
  /*字体颜色影响插件*/
  color: #000000;
  text-align: left;
  border: 1px solid #fff;
}
.editor_image,
.editor_video {
  width: 100%;
  margin: 10px auto 10px auto;
  display: block;
}
.editor_video {
  object-fit: contain;
  background: #000;
  height: 200px;
}
.emptyImgBg {
  z-index: -1;
}
.textOver2 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 视频全屏和下载屏蔽 */
video::-internal-media-controls-download-button {
  display: none;
}
video::-webkit-media-controls-enclosure {
  overflow: hidden;
}
video::-webkit-media-controls-panel {
  width: calc(100% + 50px);
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
.top-10 {
  margin-top: 10px;
}
.bottom_nav {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  /* background: #fff; */
  padding: 10px 0;
}
/*进度条*/
#progress {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
  z-index: 999;
  height: 50px;
}
#progress .progress {
  height: 5px;
  background: #e8e8e8;
  border-radius: 4px;
}
#progress .progress-bar {
  background-color: #4380eb;
}
.progressText {
  font-size: 14px;
  color: #888;
}
/*进度文本*/
.progressText {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.UserGuide {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow: hidden;
}
.UserGuide img {
  position: absolute;
}
.UserGuide img.userguide1 {
  right: 10px;
  top: 26px;
}
.UserGuide img.userguide2 {
  left: 50%;
  top: 45%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.UserGuide img.userguide3 {
  right: 26px;
  top: 70px;
}
