.am-drawer-content {
  overflow: hidden;
}
#themeTask #progress {
  display: none;
}
#themeTask #progress .progress-bar {
  width: 0%;
  background: #4380eb;
  height: 5px;
  border-radius: 4px;
}
#themeTask #upload {
  display: none;
}
#themeTask #image_box {
  /*上传区域的图片删除样式*/
  /*在上传区域的图片和视频的父元素*/
}
#themeTask #image_box .upload_box_image,
#themeTask #image_box .upload_box_video {
  width: 110px;
  height: 110px;
}
#themeTask #image_box .deleteImage_upload {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
#themeTask #image_box .deleteImage_upload {
  background: url("../images/delete.png");
  background-size: 100% 100%;
}
#themeTask #image_box .deleteImage_upload:hover {
  background: url("../images/delete_h.png");
  background-size: 100% 100%;
}
#themeTask #image_box .image_box_upload {
  width: 110px;
  height: 110px;
  position: relative;
  display: inline-block;
  margin: 0 8px 8px 0;
  float: left;
  overflow: hidden;
}
@media (max-width: 360px) and (min-width: 340px) {
  #themeTask #image_box .image_box_upload,
  #themeTask #image_box .upload_box_image,
  #themeTask #image_box .upload_box_video {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 339px) {
  #themeTask #image_box .image_box_upload,
  #themeTask #image_box .upload_box_image,
  #themeTask #image_box .upload_box_video {
    width: 90px;
    height: 90px;
  }
}
#themeTask .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}
#themeTask .selectedPeople {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 70%;
  transition: 0.5s;
  z-index: 9999999999999999999999999;
}
#themeTask .selectedPeople .am-list-view-scrollview {
  height: calc(100% - 115px) !important;
}
#themeTask .selectedPeople-cont {
  height: calc(100% - 65px);
}
#themeTask .toSetPeople {
  width: 100%;
  background: white;
  margin: 0;
  height: 52px;
  line-height: 52px;
  padding: 0px 0 0 15px;
  font-size: 16px;
  color: #666;
  box-sizing: border-box;
  position: relative;
}
#themeTask .toSetPeople span {
  position: absolute;
  color: #333;
  right: 38px;
}
#themeTask .toSetPeople .am-list-arrow {
  position: absolute;
  right: 15px;
  top: 19px;
}
#themeTask .submit_button {
  border: 1px solid #4380eb;
  background: #4380eb;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 15px;
}
#themeTask .themeTitle {
  padding: 8px 15px;
  font-size: 14px;
  color: #555;
  background: #fff;
}
#themeTask .themeTitle input,
#themeTask .themeTitle textarea {
  width: 100%;
}
#themeTask .themeContent {
  padding: 15px;
}
#themeTask .textarea_form_control {
  min-height: 34px;
  max-height: 34px;
  line-height: 34px;
  resize: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  padding: 0;
}
#themeTask .textarea_form_controlH {
  min-height: 34px;
  max-height: 90px;
  line-height: 1.6;
  resize: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  border: none;
  padding: 0;
}
#themeTask input::-webkit-input-placeholder,
#themeTask textarea::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
}
#themeTask .addPic-content {
  margin: 0;
}
#themeTask .addPic-wrap {
  height: 110px;
  width: 110px;
  font-size: 16px;
  color: #638BB7;
  text-align: left;
  display: inline-block;
}
#themeTask .addPic-wrap .addPic {
  width: 110px;
  height: 110px;
  position: relative;
  margin-right: 8px;
  margin-bottom: 8px;
}
@media (max-width: 360px) and (min-width: 340px) {
  #themeTask .addPic-wrap {
    height: 100px;
    width: 100px;
  }
  #themeTask .addPic-wrap .addPic {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 339px) {
  #themeTask .addPic-wrap {
    height: 90px;
    width: 90px;
  }
  #themeTask .addPic-wrap .addPic {
    width: 90px;
    height: 90px;
  }
}
#themeTask .upload_box_image,
#themeTask .upload_box_video {
  width: 100%;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
}
#themeTask .addPic-box {
  background: #fff;
  padding: 0 0 2px 15px;
}
#themeTask .themeTask-box {
  width: 100%;
  height: calc(100% - 65px);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}
#themeTask .am-list-item .am-list-line .am-list-content {
  font-size: 16px;
  color: #666 !important;
}
#themeTask .am-list-item .am-list-line .am-list-extra {
  color: #333;
}
#themeTask .i-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
#themeTask .i_AsDate {
  background: url("../images/AsDate.png") no-repeat;
  background-size: 100% 100%;
}
#themeTask .i_WhoSee {
  background: url("../images/WhoSee.png") no-repeat;
  background-size: 100% 100%;
  top: 17px;
}
#themeTask .selectedPeople_border {
  border-top: 10px solid #f6f6f6;
  position: relative;
}
#themeTask .selectedPeople_border:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: auto;
  right: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
#themeTask .selectedPeople_border .am-radio-inner {
  border: 1px #999999 solid;
  width: 18px;
  height: 18px;
  background-color: #fff;
  left: 0 !important;
}
#themeTask .selectedPeople_border .am-radio-inner:after {
  width: 5px;
  height: 11px;
  border-width: 0 1px 1px 0;
  top: 0;
}
#themeTask .selectedPeople_border .am-radio-checked .am-radio-inner {
  border: 1px #4285F4 solid;
}
#themeTask .selectedPeople_border .am-checkbox-inner {
  width: 18px;
  height: 18px;
}
#themeTask .selectedPeople_border .am-list-item {
  position: relative;
}
#themeTask .selectedPeople_border .am-list-item .am-list-content {
  color: #666 !important;
  font-size: 16px;
  padding-left: 31px;
  line-height: 36px;
  vertical-align: bottom;
}
#themeTask .selectedPeople_border .am-radio-item {
  position: relative;
}
#themeTask .selectedPeople_border .am-radio-item:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: auto;
  right: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
#themeTask .am-checkbox-inner {
  border: 1px #999999 solid;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 0;
}
#themeTask .am-checkbox-inner :after {
  display: block;
  border-color: #fff;
  width: 5px;
  height: 11px;
  border-width: 0 1px 1px 0;
  top: 0;
}
#themeTask .am-checkbox-checked .am-checkbox-inner {
  border: 1px #4285F4 solid !important;
  background: #fff !important;
}
#themeTask .am-checkbox-checked .am-checkbox-inner:after {
  width: 5px;
  height: 11px;
  border-width: 0 1px 1px 0;
  top: 0;
  right: 5px;
  border-color: #108ee9;
}
#themeTask .am-checkbox-item {
  left: 34px;
  width: calc(100% - 49px);
}
#themeTask .am-list .am-list-item.am-checkbox-item .am-list-thumb {
  width: 18px;
  height: 18px;
}
#themeTask .am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner {
  top: 15px;
}
#themeTask .bottom_nav {
  position: relative;
}
